 n8n Workflow Publisher/workflow.json
{"nodes":[{"parameters":{"formTitle":"n8n Workflow Publisher","formDescription":"Paste your workflow JSON below and fill in the details. The AI will generate a README and publish everything to GitHub automatically.","formFields":{"values":[{"fieldLabel":"Your Email","fieldType":"email","placeholder":"you@example.com","requiredField":true},{"fieldLabel":"Workflow JSON","fieldType":"textarea","placeholder":"Paste your exported n8n workflow JSON here...","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-304,1536],"id":"9054f7ef-1b02-448c-a006-9f3247f4d77d","name":"this","webhookId":"8500ebc3-fe36-424f-be45-d8dcf5365c2f"},{"parameters":{"jsCode":"const items = $input.all();\n\n// ── Repair stray literal \"\\n\" / \"\\r\" formatting artifacts ──────────────────\n// n8n's form/textarea sometimes submits JSON where line breaks between\n// tokens come through as the two literal characters backslash+n (or\n// backslash+r) instead of an actual newline byte. This breaks JSON.parse\n// even though the data itself is otherwise fine.\n//\n// This only strips those literal sequences OUTSIDE of quoted strings, so a\n// node's \"jsCode\" or message HTML that legitimately contains \\n as part of\n// its value is left completely untouched.\nfunction stripStructuralEscapes(text) {\n  let result = '';\n  let inString = false;\n\n  for (let i = 0; i < text.length; i++) {\n    const char = text[i];\n\n    if (inString) {\n      if (char === '\\\\' && i + 1 < text.length) {\n        result += char + text[i + 1];\n        i++;\n        continue;\n      }\n      if (char === '\"') inString = false;\n      result += char;\n      continue;\n    }\n\n    if (char === '\"') {\n      inString = true;\n      result += char;\n      continue;\n    }\n\n    if (char === '\\\\' && (text[i + 1] === 'n' || text[i + 1] === 'r')) {\n      i++; // drop both characters of the stray escape sequence\n      continue;\n    }\n\n    result += char;\n  }\n\n  return result;\n}\n\nfunction parseWithRepair(rawText) {\n  try {\n    return { parsed: JSON.parse(rawText), error: null };\n  } catch (firstError) {\n    try {\n      const repaired = stripStructuralEscapes(rawText);\n      return { parsed: JSON.parse(repaired), error: null };\n    } catch (secondError) {\n      return { parsed: null, error: firstError };\n    }\n  }\n}\n\nfor (const item of items) {\n  const rawText = item.json[\"Workflow JSON\"];\n  delete item.json[\"Workflow JSON\"];\n\n  // ── 1. Parse the JSON (with repair fallback) ────────────────────────────\n  const { parsed, error } = parseWithRepair(rawText);\n\n  if (!parsed) {\n    item.json.success = false;\n    item.json.errors  = [`Invalid JSON syntax: ${error.message}`];\n    item.json.message = \"Workflow JSON failed — could not parse JSON\";\n    continue;\n  }\n\n  // ── 2. Validate n8n workflow format ─────────────────────────────────────\n  const errors   = [];\n  const warnings = [];\n\n  // ── 2a. Top-level required fields ───────────────────────────────────────\n  // NOTE: \"name\" is NOT required for n8n import — n8n assigns one if missing\n  const requiredTopLevel = [\"nodes\", \"connections\"];\n  for (const field of requiredTopLevel) {\n    if (!(field in parsed)) {\n      errors.push(`Missing required top-level field: \"${field}\"`);\n    }\n  }\n\n  if (!parsed.name) {\n    warnings.push('\"name\" field is missing (n8n will assign one on import)');\n  }\n\n  // ── 2b. nodes: must be a non-empty array ────────────────────────────────\n  if (!Array.isArray(parsed.nodes)) {\n    errors.push('\"nodes\" must be an array');\n  } else if (parsed.nodes.length === 0) {\n    errors.push('\"nodes\" array must not be empty');\n  } else {\n    const nodeNames = new Set();\n    const nodeIds   = new Set();\n\n    parsed.nodes.forEach((node, idx) => {\n      const prefix = `nodes[${idx}] (\"${node.name || 'unnamed'}\")`;\n\n      if (typeof node.name !== 'string' || node.name.trim() === '') {\n        errors.push(`${prefix}: missing or empty \"name\"`);\n      } else {\n        if (nodeNames.has(node.name)) {\n          errors.push(`${prefix}: duplicate node name \"${node.name}\"`);\n        }\n        nodeNames.add(node.name);\n      }\n\n      if (typeof node.type !== 'string' || node.type.trim() === '') {\n        errors.push(`${prefix}: missing or empty \"type\"`);\n      }\n\n      if (typeof node.typeVersion !== 'number') {\n        errors.push(`${prefix}: \"typeVersion\" must be a number`);\n      }\n\n      // position — n8n uses ARRAY [x, y], NOT object {x, y}\n      if (\n        !Array.isArray(node.position) ||\n        node.position.length < 2 ||\n        typeof node.position[0] !== 'number' ||\n        typeof node.position[1] !== 'number'\n      ) {\n        errors.push(`${prefix}: \"position\" must be an array [x, y] with two numbers`);\n      }\n\n      if (node.id === undefined || node.id === null) {\n        warnings.push(`${prefix}: \"id\" field is missing (recommended)`);\n      } else if (nodeIds.has(node.id)) {\n        errors.push(`${prefix}: duplicate node id \"${node.id}\"`);\n      } else {\n        nodeIds.add(node.id);\n      }\n    });\n\n    // ── 2c. connections: referenced node names must exist in nodes ───────\n    if (parsed.connections && typeof parsed.connections === 'object') {\n      const nodeNameSet = new Set(\n        parsed.nodes.map(n => n.name).filter(Boolean)\n      );\n\n      for (const sourceName of Object.keys(parsed.connections)) {\n        if (!nodeNameSet.has(sourceName)) {\n          errors.push(`connections: source node \"${sourceName}\" does not exist in nodes array`);\n        }\n\n        const outputGroups = parsed.connections[sourceName];\n        if (outputGroups && typeof outputGroups === 'object') {\n          for (const outputType of Object.keys(outputGroups)) {\n            const outputBranches = outputGroups[outputType];\n            if (Array.isArray(outputBranches)) {\n              outputBranches.forEach((branch, bi) => {\n                if (Array.isArray(branch)) {\n                  branch.forEach((conn, ci) => {\n                    if (conn && conn.node && !nodeNameSet.has(conn.node)) {\n                      errors.push(\n                        `connections[\"${sourceName}\"][\"${outputType}\"][${bi}][${ci}]: ` +\n                        `target node \"${conn.node}\" does not exist in nodes array`\n                      );\n                    }\n                  });\n                }\n              });\n            }\n          }\n        }\n      }\n    } else if (typeof parsed.connections !== 'object') {\n      errors.push('\"connections\" must be an object');\n    }\n  }\n\n  // ── 2d. Optional field warnings ─────────────────────────────────────────\n  if (!parsed.settings || typeof parsed.settings !== 'object') {\n    warnings.push('\"settings\" field is missing (recommended)');\n  }\n\n  // ── 3. Attach result + the clean workflow JSON ──────────────────────────\n  item.json.workflowJson = parsed;\n\n  if (errors.length === 0) {\n    item.json.success  = true;\n    item.json.errors   = [];\n    item.json.warnings = warnings;\n    item.json.message  = \"Workflow JSON is valid and ready to import into n8n\";\n  } else {\n    item.json.success  = false;\n    item.json.errors   = errors;\n    item.json.warnings = warnings;\n    item.json.message  = `Workflow JSON failed validation with ${errors.length} error(s)`;\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,1536],"id":"82f8692c-6971-4eec-ad54-b4517795ed90","name":"Code in JavaScript"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[368,1600],"id":"d100903c-20ff-4732-9aa5-eb87ef1e6ab3","name":"Extract from File"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"content":"={{ JSON.stringify($json.data) }}"},{"role":"system","content":"# Section 1 — Role & Objective\n\nYou are the **n8n README Generator Agent** — a technical documentation specialist operating as an AI Agent Tool inside an n8n workflow publishing pipeline.\n\nYour sole task: receive a parsed n8n workflow JSON object and produce a single, complete, publication-ready output as a **raw JSON object** (not wrapped in code fences) containing two fields: `workflowName` and `readme`.\n\nYour success criterion: the output is a valid JSON object with a clean workflow name and a complete markdown string that perfectly documents the received workflow — requiring zero editing before being saved as a README.md file. No preamble. No explanation. Only the JSON object itself.\n\n---\n\n# Section 2 — Input Context\n\nYou will receive a single JSON object under `$json.data` containing the following confirmed fields:\n\n- `nodes` (Required): Array of node objects. Each node contains `name`, `type`, `typeVersion`, `parameters`, and optionally `credentials`.\n- `connections` (Required): Object describing how nodes are wired together.\n- `pinData` (Optional): Sample data pinned to specific nodes for testing.\n- `meta` (Optional): Workflow metadata such as `instanceId`.\n\nDo not reference or assume any field not listed here. If an expected field is absent, trigger the fallback behavior defined in Section 7.\n\n---\n\n# Section 3 — Agent Behavior & Thinking Process\n\n**Step 1:** Read and validate the input against the schema in Section 2. Confirm `nodes` and `connections` are present and non-empty.\n\n**Step 2:** Parse the `nodes` array. For each node, extract: `name`, `type`, and `parameters`. Map the node `type` string to a human-readable technology label (e.g., `n8n-nodes-base.formTrigger` → \"Form Trigger\", `@n8n/n8n-nodes-langchain.openAi` → \"OpenAI LangChain Node\"). Extract any `credentials` keys present to infer prerequisites (e.g., `openAiApi` → \"OpenAI API key required\").\n\n**Step 3:** Parse the `connections` object to reconstruct the execution order of nodes. Use this to build the ASCII flow diagram and the \"How It Works\" narrative. Walk connections from the trigger node forward.\n\n**Step 4:** Derive a `workflowName` — a short, human-readable, title-cased name (3–6 words) that describes what the workflow does. Derive it from the `formTitle` parameter of the trigger node if present, otherwise synthesize it from the workflow's trigger type and primary action nodes. The name must be descriptive and professional (e.g., \"AI Support Ticket Classifier\", \"Weekly Report Email Sender\"). Do not use generic names like \"My Workflow\" or \"n8n Workflow\".\n\n**Step 5:** Using only data derived from Steps 2–4, populate every section of the README template defined in Section 5. For any section where the workflow JSON provides insufficient data, insert the placeholder text defined in Section 7.\n\n**Step 6:** Assemble the final output as a single raw JSON object with exactly two fields:\n- `workflowName`: the string derived in Step 4.\n- `readme`: the complete README markdown string derived in Step 5.\n\n**Step 7:** Verify your output is valid JSON with no wrapper, no preamble, and no trailing explanation — raw JSON object only.\n\n**Step 8:** If any step fails, execute the fallback defined in Section 7.\n\n**Self-Check:** Before producing your final output, perform a self-check: Does every value in your output come directly from the input data or a tool result? If any value was inferred or assumed without a traceable source, mark it explicitly with `<!-- inferred -->` inline inside the `readme` value so a human reviewer can verify it. Do not guess silently.\n\n---\n\n# Section 4 — Rules & Instructions\n\n- Do not add conversational filler, preambles, or explanations to your output.\n- Do not echo the input data raw in your output.\n- Do not fabricate node names, credentials, or behaviors not present in the workflow JSON.\n- Execute deterministically: given the same workflow JSON, always produce the same output.\n- Do not make assumptions about fields, APIs, or behaviors not described in this prompt.\n- Never modify the README template structure to add or remove sections, even if they seem unnecessary for a simple workflow.\n- For sections where the workflow JSON cannot provide sufficient detail, insert the placeholder `_[Insufficient data — review manually]_` and continue. Do not skip the section header.\n- The output must be a single raw JSON object with fields `workflowName` and `readme`. No code fences. No leading or trailing text outside the JSON object.\n- Omit the \"Setup & Installation\" section entirely from the README content.\n\n---\n\n# Section 5 — Output README Template\n\nThe `readme` field must contain the README in this exact structure and order:\n\n```\n# [emoji] [Workflow Name]\nOne paragraph — what it does, what problem it solves, what the result is.\n\n---\n\n## Table of Contents\n- Overview\n- How It Works\n- Node Architecture\n- Tech Stack\n- Prerequisites\n- Configuration\n- Output\n- Edge Cases & Fallbacks\n\n---\n\n## Overview\nWhat triggers it, what it does, what value it delivers.\n\n---\n\n## How It Works\n[ASCII flow diagram]\nStep 1 → Step 2 → Step 3 ...\n\nNumbered prose explanation of each step.\n\n---\n\n## Node Architecture\n| Node Name | Type | Role |\n|---|---|---|\n| ... | ... | ... |\n\n---\n\n## Tech Stack\n| Component | Technology |\n|---|---|\n| ... | ... |\n\n---\n\n## Prerequisites\n- n8n instance v1.0+\n- [Any credential inferred from node `credentials` keys]\n- ...\n\n---\n\n## Configuration\nAny settings, models, or parameters a user must customize before running.\n\n---\n\n## Output\nWhat the workflow produces when it runs successfully.\n\n---\n\n## Edge Cases & Fallbacks\n| Scenario | Behavior |\n|---|---|\n| ... | ... |\n```\n\nRules for populating the template:\n- The emoji in the title must be chosen to reflect the workflow's primary function.\n- The workflow name used in the README title must match the `workflowName` field in the output JSON exactly.\n- The ASCII flow diagram must reflect the actual `connections` object — not invented order.\n- The Node Architecture table must contain one row per node in the `nodes` array.\n- The Tech Stack table must list each unique node type as a technology component.\n- The Prerequisites list must include `n8n instance v1.0+` always, plus one bullet per unique credential key found across all nodes.\n- The Edge Cases & Fallbacks table must include at minimum: missing required form fields, malformed workflow JSON input, and any error paths inferable from the workflow structure.\n\n---\n\n# Section 6 — Limitations & Constraints\n\n- **Knowledge boundary:** Your knowledge is limited to what is described in this prompt and what the input workflow JSON contains. Do not use external knowledge to fill documentation gaps — use the defined placeholder instead.\n- **No assumption rule:** If a required piece of information is missing from the input, do not guess. Use the fallback behavior defined in Section 7.\n- **Template fidelity:** The README template in Section 5 is fixed. Do not add, remove, or reorder sections.\n- **Tool boundary:** You have no tools available. Produce the output from the input data alone.\n- **Credential inference rule:** You may infer a prerequisite from a credential key name (e.g., `openAiApi` → \"OpenAI API key\") only when the mapping is unambiguous. If the credential key name is unclear, insert the raw key name as-is with a note: `[credential: openAiApi — confirm requirement]`.\n- **No hallucinated steps:** Do not add workflow steps to the \"How It Works\" section that do not correspond to a node present in the `nodes` array.\n\n---\n\n# Section 7 — Conditions & Edge Cases\n\n- **IF** `nodes` is null, missing, or an empty array:\n  → Output exactly: `{\"workflowName\": \"[Error]\", \"readme\": \"_[Error: workflow JSON contains no nodes. README cannot be generated.]_\"}`\n\n- **IF** `connections` is null or missing:\n  → Populate the ASCII flow diagram with: `[Connection data unavailable — diagram cannot be generated]` and continue generating all other sections from the `nodes` array alone.\n\n- **IF** a node has no `type` field:\n  → In the Node Architecture table, enter `[type unknown]` for that node's Type and Role columns.\n\n- **IF** no `credentials` keys are found across any node:\n  → The Prerequisites section contains only: `- n8n instance v1.0+`\n\n- **IF** a section cannot be populated with any data from the workflow JSON:\n  → Insert `_[Insufficient data — review manually]_` under that section's header. Do not remove the header.\n\n- **IF** the input does not match the schema defined in Section 2:\n  → Output exactly: `{\"workflowName\": \"[Error]\", \"readme\": \"_[Error: unexpected input format. Expected $json.data with nodes and connections fields.]_\"}`\n\n- **IF** a `workflowName` cannot be derived from any available data:\n  → Set `workflowName` to `_[Insufficient data — review manually]_`\n\n---\n\n# Section 8 — Token Optimization Protocol\n\n- Do not echo the raw input JSON anywhere in your output.\n- Output raw JSON only. Do not wrap the output in a code fence.\n- Omit all reasoning, chain-of-thought, and internal commentary from the output. The only exception is inline `<!-- inferred -->` markers inside the `readme` value as defined in the self-check rule.\n- Keep prose sections (Overview, How It Works narrative) concise — two to four sentences per paragraph maximum.\n- Do not repeat information already stated in one section inside another section.\n- Do not add explanatory comments inside markdown tables."}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_object"}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.3,"position":[592,1600],"id":"0946bc88-1613-46ef-8c36-51741409d43a","name":"Message a model","credentials":{"openAiApi":{"id":"nd3jsxwTHwLjr2UH","name":"n8n free OpenAI API credits"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8a755e1c-c941-4535-9bb6-d990b6f03c4c","leftValue":"={{ $json.validationPassed }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[144,1536],"id":"43c90ece-d3f9-421f-9a68-0b8fbcb0c5af","name":"If"},{"parameters":{"sendTo":"={{ $('Code in JavaScript').item.json[\"Your Email\"] }}","subject":"⚠️ Workflow Submission Failed — Please Review Your JSON","message":"<!DOCTYPE html> <html lang=\"en\"> <body style=\"margin:0;padding:0;background:#f5f5f5;font-family:Arial,sans-serif;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f5;padding:32px 0;\">   <tr><td align=\"center\">     <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #e5e5e5;\">       <tr>         <td style=\"background:#A32D2D;padding:32px 32px 24px;\">           <p style=\"margin:0 0 6px;font-size:12px;font-weight:600;color:#F7C1C1;letter-spacing:0.06em;text-transform:uppercase;\">⚠ Workflow Error</p>           <h1 style=\"margin:0;font-size:22px;font-weight:600;color:#FCEBEB;\">Workflow run failed</h1>         </td>       </tr>       <tr>         <td style=\"padding:28px 32px;\">           <p style=\"margin:0 0 20px;font-size:15px;color:#1a1a1a;line-height:1.7;\">             Your n8n workflow was unable to complete successfully. The submitted input could not be processed.           </p>           <div style=\"background:#fef2f2;border-left:3px solid #E24B4A;border-radius:0 8px 8px 0;padding:14px 16px;margin-bottom:24px;\">             <p style=\"margin:0 0 4px;font-size:12px;font-weight:600;color:#888;\">LIKELY CAUSE</p>             <p style=\"margin:0;font-size:14px;color:#1a1a1a;\">Invalid or malformed workflow JSON was submitted through the form.</p>           </div>           <p style=\"margin:0 0 16px;font-size:14px;color:#666;line-height:1.7;\">Please review the following before trying again:</p>           <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">             <tr><td style=\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\">✅&nbsp; The JSON was exported directly from n8n and is unmodified</td></tr>             <tr><td style=\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\">✅&nbsp; The pasted content is valid JSON (no trailing commas or missing brackets)</td></tr>             <tr><td style=\"padding:10px 0;font-size:14px;color:#1a1a1a;\">✅&nbsp; The form field was not left empty or partially filled</td></tr>           </table>           <div style=\"border-top:1px solid #f0f0f0;padding-top:20px;\">             <p style=\"margin:0;font-size:12px;color:#999;line-height:1.6;\">               This is an automated message from your n8n workflow. If the problem persists after retrying with valid JSON, please check your workflow configuration or contact your administrator.             </p>           </div>         </td>       </tr>     </table>   </td></tr> </table> </body> </html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1616,1408],"id":"37410335-b5ef-47ae-9994-b920c139a4a6","name":"Failure","webhookId":"9c9dad87-a9c3-4421-8881-f8ecde0f596f","credentials":{"gmailOAuth2":{"id":"CrZDjM4iPVOsPaec","name":"Gmail OAuth2 API"}}},{"parameters":{"sendTo":"={{ $('Code in JavaScript').item.json[\"Your Email\"] }}","subject":"✅ Workflow Published Successfully to Repository","message":"<!DOCTYPE html> <html lang=\"en\"> <body style=\"margin:0;padding:0;background:#f5f5f5;font-family:Arial,sans-serif;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f5;padding:32px 0;\">   <tr><td align=\"center\">     <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #e5e5e5;\">       <tr>         <td style=\"background:#27500A;padding:32px 32px 24px;\">           <p style=\"margin:0 0 6px;font-size:12px;font-weight:600;color:#C0DD97;letter-spacing:0.06em;text-transform:uppercase;\">✓ Workflow Published</p>           <h1 style=\"margin:0;font-size:22px;font-weight:600;color:#EAF3DE;\">Your workflow was added to the repository</h1>         </td>       </tr>       <tr>         <td style=\"padding:28px 32px;\">           <p style=\"margin:0 0 20px;font-size:15px;color:#1a1a1a;line-height:1.7;\">             Your n8n workflow was successfully processed and published to the GitHub repository. A README file has been automatically generated and committed alongside your workflow JSON.           </p>           <div style=\"background:#f2faf0;border-left:3px solid #639922;border-radius:0 8px 8px 0;padding:14px 16px;margin-bottom:24px;\">             <p style=\"margin:0 0 4px;font-size:12px;font-weight:600;color:#888;\">WHAT HAPPENED</p>             <p style=\"margin:0;font-size:14px;color:#1a1a1a;\">The workflow JSON was parsed, a README.md was generated by AI, and both files were committed to the repository.</p>           </div>           <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">             <tr><td style=\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\">✅&nbsp; Workflow JSON committed to repository</td></tr>             <tr><td style=\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\">✅&nbsp; README.md generated and committed</td></tr>             <tr><td style=\"padding:10px 0;font-size:14px;color:#1a1a1a;\">✅&nbsp; Repository updated successfully</td></tr>           </table>           <div style=\"border-top:1px solid #f0f0f0;padding-top:20px;\">             <p style=\"margin:0;font-size:12px;color:#999;line-height:1.6;\">               This is an automated message from your n8n workflow. You can now find your workflow and its documentation in the GitHub repository.             </p>           </div>         </td>       </tr>     </table>   </td></tr> </table> </body> </html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1616,1648],"id":"f4508b0e-5e46-4215-95d9-d2b2af20af3b","name":"Success","webhookId":"9c9dad87-a9c3-4421-8881-f8ecde0f596f","credentials":{"gmailOAuth2":{"id":"CrZDjM4iPVOsPaec","name":"Gmail OAuth2 API"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"ZaidAR75","mode":"name"},"repository":{"__rl":true,"value":"n8n-automation-workflows","mode":"list","cachedResultName":"n8n-automation-workflows","cachedResultUrl":"https://github.com/ZaidAR75/n8n-automation-workflows"},"filePath":"= {{ $('Message a model').item.json.output[0].content[0].text.workflowName }}/workflow.json","binaryData":true,"commitMessage":"=add  {{ $('Message a model').item.json.output[0].content[0].text.workflowName }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[1168,1504],"id":"832cd496-f4d9-4eae-8c4b-6eb24d36d532","name":"GitHub — Upload Workflow JSON1","webhookId":"bf5ac3db-11b4-4907-a57c-5e3b372fbb3b","credentials":{"githubOAuth2Api":{"id":"WonTmkZSqBmGTAsT","name":"GitHub OAuth2 API"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8a755e1c-c941-4535-9bb6-d990b6f03c4c","leftValue":"={{ $json.validationPassed }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1392,1600],"id":"cfbeae8d-f3f2-4cc3-a926-47be9d635d2d","name":"If1"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"ZaidAR75","mode":"name"},"repository":{"__rl":true,"value":"n8n-automation-workflows","mode":"list","cachedResultName":"n8n-automation-workflows","cachedResultUrl":"https://github.com/ZaidAR75/n8n-automation-workflows"},"filePath":"= {{ $('Message a model').item.json.output[0].content[0].text.workflowName }}/README.md","fileContent":"={{ $json.output[0].content[0].text.readme }}","commitMessage":"=add  {{ $('Message a model').item.json.output[0].content[0].text.workflowName }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[1168,1696],"id":"e004904f-261e-4229-9a19-89ccd68d71ac","name":"GitHub — Upload Workflow JSON","webhookId":"bf5ac3db-11b4-4907-a57c-5e3b372fbb3b","credentials":{"githubOAuth2Api":{"id":"WonTmkZSqBmGTAsT","name":"GitHub OAuth2 API"}}}],"connections":{"this":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"GitHub — Upload Workflow JSON1","type":"main","index":0},{"node":"GitHub — Upload Workflow JSON","type":"main","index":0}]]},"If":{"main":[[{"node":"Failure","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]},"GitHub — Upload Workflow JSON1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Failure","type":"main","index":0}]]},"GitHub — Upload Workflow JSON":{"main":[[{"node":"If1","type":"main","index":0}]]}},"pinData":{"this":[{"Your Email":"zaidradaideh.dev@gmail.com","Workflow JSON":"{\r\n  \"nodes\": [\r\n    {\r\n      \"parameters\": {\r\n        \"formTitle\": \"n8n Workflow Publisher\",\r\n        \"formDescription\": \"Paste your workflow JSON below and fill in the details. The AI will generate a README and publish everything to GitHub automatically.\",\r\n        \"formFields\": {\r\n          \"values\": [\r\n            {\r\n              \"fieldLabel\": \"Your Email\",\r\n              \"fieldType\": \"email\",\r\n              \"placeholder\": \"you@example.com\",\r\n              \"requiredField\": true\r\n            },\r\n            {\r\n              \"fieldLabel\": \"Workflow JSON\",\r\n              \"fieldType\": \"textarea\",\r\n              \"placeholder\": \"Paste your exported n8n workflow JSON here...\",\r\n              \"requiredField\": true\r\n            }\r\n          ]\r\n        },\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"n8n-nodes-base.formTrigger\",\r\n      \"typeVersion\": 2.2,\r\n      \"position\": [\r\n        -128,\r\n        752\r\n      ],\r\n      \"id\": \"7b6e6e0b-f72e-4e13-aeaa-383ff897d43c\",\r\n      \"name\": \"Submit Workflow Form\",\r\n      \"webhookId\": \"a6a847ca-7719-4e8e-b9e0-a80800d4b9ef\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"jsCode\": \"// ─── JSON Converter ───────────────────────────────────────────────────────\\n// Takes the raw text from the form and attempts to parse it into a valid JSON object.\\n// Outputs: isValid flag, parsed object, metadata, and the user's email.\\n\\nconst formData = $input.first().json;\\n\\nconst rawText  = formData['Workflow JSON'] ?? '';\\nconst category = formData['Category'] ?? 'utilities';\\nconst userNote = formData['Short Description (optional)'] ?? '';\\nconst userEmail = formData['Your Email'] ?? '';\\n\\nlet parsed = null;\\nlet isValid = false;\\nlet errorMessage = '';\\nlet workflowName = '';\\nlet folderSlug = '';\\n\\ntry {\\n  parsed = JSON.parse(rawText);\\n  isValid = true;\\n\\n  // Extract workflow name and build folder slug\\n  workflowName = parsed.name ?? 'unnamed-workflow';\\n  folderSlug = workflowName\\n    .toLowerCase()\\n    .replace(/[^a-z0-9\\\\s-]/g, '')\\n    .trim()\\n    .replace(/\\\\s+/g, '-');\\n\\n} catch (e) {\\n  isValid = false;\\n  errorMessage = `The text you submitted is not valid JSON. Parser error: ${e.message}`;\\n}\\n\\nreturn [{\\n  json: {\\n    isValid,\\n    errorMessage,\\n    rawText,\\n    parsedJson: parsed,\\n    workflowName,\\n    folderSlug,\\n    category,\\n    userNote,\\n    userEmail,\\n    repoOwner: 'YOUR_GITHUB_USERNAME',\\n    repoName: 'n8n-automation-workflows'\\n  }\\n}];\"\r\n      },\r\n      \"type\": \"n8n-nodes-base.code\",\r\n      \"typeVersion\": 2,\r\n      \"position\": [\r\n        112,\r\n        752\r\n      ],\r\n      \"id\": \"668edae5-3cfc-47ea-827b-26dbd483be68\",\r\n      \"name\": \"JSON Converter\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"conditions\": {\r\n          \"options\": {\r\n            \"caseSensitive\": true,\r\n            \"leftValue\": \"\",\r\n            \"typeValidation\": \"strict\",\r\n            \"version\": 3\r\n          },\r\n          \"conditions\": [\r\n            {\r\n              \"id\": \"condition-valid-json\",\r\n              \"leftValue\": \"={{ $json.isValid }}\",\r\n              \"rightValue\": true,\r\n              \"operator\": {\r\n                \"type\": \"boolean\",\r\n                \"operation\": \"true\",\r\n                \"singleValue\": true\r\n              }\r\n            }\r\n          ],\r\n          \"combinator\": \"and\"\r\n        },\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"n8n-nodes-base.if\",\r\n      \"typeVersion\": 2.3,\r\n      \"position\": [\r\n        352,\r\n        752\r\n      ],\r\n      \"id\": \"a3c1ff21-7fab-47ae-849c-8b8eba06cf7c\",\r\n      \"name\": \"Is JSON Valid?\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"sendTo\": \"={{ $json.userEmail }}\",\r\n        \"subject\": \"❌ Workflow Publisher — Invalid JSON Submitted\",\r\n        \"message\": \"=<div style=\\\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\\\">\\n  <h2 style=\\\"color: #d9534f;\\\">❌ Submission Failed — Invalid JSON</h2>\\n  <p>Hello,</p>\\n  <p>We were unable to process your workflow submission because the text you pasted is not valid JSON.</p>\\n  <div style=\\\"background-color: #f9f2f4; border-left: 5px solid #d9534f; padding: 15px; margin: 20px 0;\\\">\\n    <p style=\\\"margin: 0;\\\"><strong>Error:</strong></p>\\n    <p style=\\\"margin: 5px 0; font-family: monospace;\\\">{{ $json.errorMessage }}</p>\\n  </div>\\n  <p><strong>How to fix this:</strong></p>\\n  <ol>\\n    <li>Open your n8n workflow.</li>\\n    <li>Click the three dots (⋯) menu at the top right.</li>\\n    <li>Select <strong>Download</strong> to export the workflow as a .json file.</li>\\n    <li>Open the file, copy all of its contents, and paste into the form.</li>\\n  </ol>\\n  <p>Please resubmit once you have the correct JSON.</p>\\n  <p>Best regards,<br><strong>Workflow Publisher</strong></p>\\n</div>\",\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"n8n-nodes-base.gmail\",\r\n      \"typeVersion\": 2.2,\r\n      \"position\": [\r\n        592,\r\n        976\r\n      ],\r\n      \"id\": \"04e69887-78fd-4f35-b74c-c0d7515dfc20\",\r\n      \"name\": \"Gmail — Invalid JSON Error\",\r\n      \"webhookId\": \"fd40fbc1-00de-46e7-b828-22819262c19a\",\r\n      \"credentials\": {\r\n        \"gmailOAuth2\": {\r\n          \"id\": \"CrZDjM4iPVOsPaec\",\r\n          \"name\": \"Gmail OAuth2 API\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"resource\": \"file\",\r\n        \"owner\": \"={{ $json.repoOwner }}\",\r\n        \"repository\": \"={{ $json.repoName }}\",\r\n        \"filePath\": \"={{ $json.category }}/{{ $json.folderSlug }}/{{ $json.folderSlug }}.json\",\r\n        \"fileContent\": \"={{ $json.rawText }}\",\r\n        \"additionalParameters\": {\r\n          \"branch\": {}\r\n        }\r\n      },\r\n      \"type\": \"n8n-nodes-base.github\",\r\n      \"typeVersion\": 1,\r\n      \"position\": [\r\n        592,\r\n        592\r\n      ],\r\n      \"id\": \"4c16befa-36f0-40a9-820a-77c6bd651148\",\r\n      \"name\": \"GitHub — Upload Workflow JSON\",\r\n      \"webhookId\": \"bf5ac3db-11b4-4907-a57c-5e3b372fbb3b\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"promptType\": \"define\",\r\n        \"text\": \"={{ $('JSON Converter').first().json.rawText }}\",\r\n        \"options\": {\r\n          \"systemMessage\": \"=# Role & Objective\\nYou are a technical documentation specialist embedded in an n8n automation pipeline. Your sole task is to analyze an n8n workflow JSON and produce two outputs:\\n1. A comprehensive, professional README in pure markdown\\n2. A structured metadata block\\n\\nYou will receive:\\n- The raw workflow JSON as your input\\n- An optional user note: {{ $('JSON Converter').first().json.userNote }}\\n- The chosen category: {{ $('JSON Converter').first().json.category }}\\n- The folder slug: {{ $('JSON Converter').first().json.folderSlug }}\\n\\n# What to Extract from the JSON\\nRead the workflow JSON carefully and identify:\\n- The workflow name (from the `name` field)\\n- All nodes, their types, roles, and how they connect\\n- All credentials and integrations used\\n- The trigger type (webhook, form, schedule, Telegram, etc.)\\n- The data flow from trigger to final output\\n- Any AI agents and their system prompts\\n- Any conditional logic or branching\\n- Error handling or fallback behavior\\n\\n# README Structure\\nGenerate a README in pure markdown with exactly this structure:\\n\\n# [emoji] [Workflow Name]\\n\\nOne paragraph describing what the workflow does, what problem it solves, and what the end result is.\\n\\n---\\n\\n## Table of Contents\\n- Overview\\n- How It Works\\n- Node Architecture\\n- Tech Stack\\n- Prerequisites\\n- Setup & Installation\\n- Configuration\\n- Output\\n- Edge Cases & Fallbacks\\n\\n---\\n\\n## Overview\\n\\n## How It Works\\n(ASCII flow diagram using arrows)\\n\\n## Node Architecture\\n(Table: Node Name | Type | Role)\\n\\n## Tech Stack\\n(Table: Component | Technology)\\n\\n## Prerequisites\\n\\n## Setup & Installation\\n\\n## Configuration\\n\\n## Output\\n\\n## Edge Cases & Fallbacks\\n(Table: Scenario | Behavior)\\n\\n# Metadata Block\\nAfter the README content, output a metadata block wrapped in <metadata> tags:\\n\\n<metadata>\\n{\\n  \\\"workflow_name\\\": \\\"<exact name from JSON>\\\",\\n  \\\"folder_slug\\\": \\\"{{ $('JSON Converter').first().json.folderSlug }}\\\",\\n  \\\"category\\\": \\\"{{ $('JSON Converter').first().json.category }}\\\",\\n  \\\"trigger_type\\\": \\\"<webhook|form|schedule|telegram|manual|other>\\\",\\n  \\\"tools_used\\\": [\\\"<list of integrations>\\\"],\\n  \\\"one_line_description\\\": \\\"<one sentence, max 120 chars>\\\"\\n}\\n</metadata>\\n\\n# Rules\\n- Do not fabricate node behavior. Only document what is in the JSON.\\n- Output pure markdown for the README — no code fences wrapping it.\\n- Use the user note if provided to add context the JSON does not contain.\\n- Always output the <metadata> block at the very end, after the README.\"\r\n        }\r\n      },\r\n      \"type\": \"@n8n/n8n-nodes-langchain.agent\",\r\n      \"typeVersion\": 1.7,\r\n      \"position\": [\r\n        592,\r\n        752\r\n      ],\r\n      \"id\": \"3d946332-e913-4a63-9faa-e1ea3880a79f\",\r\n      \"name\": \"AI Agent — Generate README\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"model\": {\r\n          \"__rl\": true,\r\n          \"value\": \"gpt-4o-mini\",\r\n          \"mode\": \"list\",\r\n          \"cachedResultName\": \"gpt-4o-mini\"\r\n        },\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"@n8n/n8n-nodes-langchain.lmChatOpenAi\",\r\n      \"typeVersion\": 1.2,\r\n      \"position\": [\r\n        592,\r\n        992\r\n      ],\r\n      \"id\": \"c7f77f80-bf08-4934-9867-b3cdd1fd7aa4\",\r\n      \"name\": \"OpenAI Chat Model\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"jsCode\": \"// ─── Markdown Converter ───────────────────────────────────────────────────\\n// Extracts the pure README markdown from the AI output and strips the metadata block.\\n// Also parses the metadata JSON for use in downstream nodes.\\n\\nconst agentOutput = $input.first().json.output ?? '';\\n\\n// Extract metadata block\\nconst metaMatch = agentOutput.match(/<metadata>([\\\\s\\\\S]*?)<\\\\/metadata>/);\\nif (!metaMatch) {\\n  throw new Error('AI Agent did not return a <metadata> block. Cannot proceed.');\\n}\\n\\nlet meta;\\ntry {\\n  meta = JSON.parse(metaMatch[1].trim());\\n} catch (e) {\\n  throw new Error('Failed to parse metadata JSON from AI output: ' + e.message);\\n}\\n\\n// Extract pure markdown README (everything before <metadata>)\\nconst markdownContent = agentOutput\\n  .replace(/<metadata>[\\\\s\\\\S]*?<\\\\/metadata>/, '')\\n  .trim();\\n\\n// Pull context from the JSON Converter node\\nconst converterData = $('JSON Converter').first().json;\\n\\nconst repoOwner  = converterData.repoOwner;\\nconst repoName   = converterData.repoName;\\nconst category   = converterData.category;\\nconst folderSlug = converterData.folderSlug;\\nconst userEmail  = converterData.userEmail;\\n\\nconst basePath    = `${category}/${folderSlug}`;\\nconst readmePath  = `${basePath}/README.md`;\\nconst githubUrl   = `https://github.com/${repoOwner}/${repoName}/tree/main/${basePath}`;\\n\\nreturn [{\\n  json: {\\n    meta,\\n    markdownContent,\\n    repoOwner,\\n    repoName,\\n    basePath,\\n    readmePath,\\n    githubUrl,\\n    userEmail\\n  }\\n}];\"\r\n      },\r\n      \"type\": \"n8n-nodes-base.code\",\r\n      \"typeVersion\": 2,\r\n      \"position\": [\r\n        864,\r\n        752\r\n      ],\r\n      \"id\": \"1662b2a3-e21d-451d-9739-d5cb44d9e1b7\",\r\n      \"name\": \"Markdown Converter\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"resource\": \"file\",\r\n        \"owner\": \"={{ $json.repoOwner }}\",\r\n        \"repository\": \"={{ $json.repoName }}\",\r\n        \"filePath\": \"={{ $json.readmePath }}\",\r\n        \"fileContent\": \"={{ $json.markdownContent }}\",\r\n        \"additionalParameters\": {\r\n          \"branch\": {}\r\n        }\r\n      },\r\n      \"type\": \"n8n-nodes-base.github\",\r\n      \"typeVersion\": 1,\r\n      \"position\": [\r\n        1120,\r\n        752\r\n      ],\r\n      \"id\": \"543c1c9a-f652-419e-9045-e5ae9741b86a\",\r\n      \"name\": \"GitHub — Upload README\",\r\n      \"webhookId\": \"515d52b2-8d1b-4b42-a9ad-568aaa1145ac\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"sendTo\": \"={{ $('Markdown Converter').first().json.userEmail }}\",\r\n        \"subject\": \"=✅ Workflow Published — {{ $('Markdown Converter').first().json.meta.workflow_name }}\",\r\n        \"message\": \"=<div style=\\\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\\\">\\n  <h2 style=\\\"color: #5cb85c;\\\">✅ Your Workflow Has Been Published!</h2>\\n  <p>Hello,</p>\\n  <p>Your n8n workflow has been successfully documented and published to your GitHub repository.</p>\\n\\n  <div style=\\\"background-color: #f2f9f2; border-left: 5px solid #5cb85c; padding: 15px; margin: 20px 0;\\\">\\n    <p style=\\\"margin: 0 0 8px 0;\\\"><strong>📦 Workflow Name:</strong> {{ $('Markdown Converter').first().json.meta.workflow_name }}</p>\\n    <p style=\\\"margin: 0 0 8px 0;\\\"><strong>📁 Category:</strong> {{ $('Markdown Converter').first().json.meta.category }}</p>\\n    <p style=\\\"margin: 0 0 8px 0;\\\"><strong>🔗 Trigger:</strong> {{ $('Markdown Converter').first().json.meta.trigger_type }}</p>\\n    <p style=\\\"margin: 0 0 8px 0;\\\"><strong>🛠️ Tools Used:</strong> {{ $('Markdown Converter').first().json.meta.tools_used.join(', ') }}</p>\\n    <p style=\\\"margin: 0;\\\"><strong>📝 Description:</strong> {{ $('Markdown Converter').first().json.meta.one_line_description }}</p>\\n  </div>\\n\\n  <p>\\n    <strong>📂 Files Published:</strong><br>\\n    • <code>{{ $('Markdown Converter').first().json.meta.folder_slug }}.json</code> — Workflow file<br>\\n    • <code>README.md</code> — Auto-generated documentation\\n  </p>\\n\\n  <p>\\n    <a href=\\\"{{ $('Markdown Converter').first().json.githubUrl }}\\\" style=\\\"display: inline-block; background-color: #333; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold;\\\">🔗 View on GitHub</a>\\n  </p>\\n\\n  <p>Best regards,<br><strong>Workflow Publisher</strong></p>\\n</div>\",\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"n8n-nodes-base.gmail\",\r\n      \"typeVersion\": 2.2,\r\n      \"position\": [\r\n        1376,\r\n        752\r\n      ],\r\n      \"id\": \"8fbce4f0-8127-4623-b940-d5e462221c57\",\r\n      \"name\": \"Gmail — Success Email\",\r\n      \"webhookId\": \"7987579a-3a03-488b-9387-5c80cc01d18e\",\r\n      \"credentials\": {\r\n        \"gmailOAuth2\": {\r\n          \"id\": \"CrZDjM4iPVOsPaec\",\r\n          \"name\": \"Gmail OAuth2 API\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"formTitle\": \"n8n Workflow Publisher\",\r\n        \"formDescription\": \"Paste your workflow JSON below and fill in the details. The AI will generate a README and publish everything to GitHub automatically.\",\r\n        \"formFields\": {\r\n          \"values\": [\r\n            {\r\n              \"fieldLabel\": \"Your Email\",\r\n              \"fieldType\": \"email\",\r\n              \"placeholder\": \"you@example.com\",\r\n              \"requiredField\": true\r\n            },\r\n            {\r\n              \"fieldLabel\": \"Workflow JSON\",\r\n              \"fieldType\": \"textarea\",\r\n              \"placeholder\": \"Paste your exported n8n workflow JSON here...\",\r\n              \"requiredField\": true\r\n            }\r\n          ]\r\n        },\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"n8n-nodes-base.formTrigger\",\r\n      \"typeVersion\": 2.2,\r\n      \"position\": [\r\n        -304,\r\n        1504\r\n      ],\r\n      \"id\": \"9054f7ef-1b02-448c-a006-9f3247f4d77d\",\r\n      \"name\": \"this\",\r\n      \"webhookId\": \"8500ebc3-fe36-424f-be45-d8dcf5365c2f\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"jsCode\": \"const items = $input.all();\\n\\nfor (const item of items) {\\n  const rawText = item.json[\\\"Workflow JSON\\\"];\\n\\n  // ── 1. Convert raw text → binary file ──────────────────────────────────────\\n  item.binary = item.binary || {};\\n  item.binary.data = {\\n    data: Buffer.from(rawText, 'utf8').toString('base64'),\\n    mimeType: 'application/json',\\n    fileName: 'workflow.json'\\n  };\\n\\n  const textForValidation = rawText;\\n  delete item.json[\\\"Workflow JSON\\\"];\\n\\n  // ── 2. Parse the JSON ───────────────────────────────────────────────────────\\n  let parsed;\\n  try {\\n    parsed = JSON.parse(textForValidation);\\n  } catch (e) {\\n    item.json.validationStatus  = 500;\\n    item.json.validationPassed  = false;\\n    item.json.validationErrors  = [`Invalid JSON syntax: ${e.message}`];\\n    item.json.validationWarnings = [];\\n    item.json.message = \\\"Workflow JSON failed — could not parse JSON\\\";\\n    continue;\\n  }\\n\\n  // ── 3. Validate n8n workflow format ─────────────────────────────────────────\\n  const errors   = [];\\n  const warnings = [];\\n\\n  // ── 3a. Top-level required fields ──────────────────────────────────────────\\n  // NOTE: \\\"name\\\" is NOT required for n8n import — n8n assigns one if missing\\n  const requiredTopLevel = [\\\"nodes\\\", \\\"connections\\\"];\\n  for (const field of requiredTopLevel) {\\n    if (!(field in parsed)) {\\n      errors.push(`Missing required top-level field: \\\"${field}\\\"`);\\n    }\\n  }\\n\\n  if (!parsed.name) {\\n    warnings.push('\\\"name\\\" field is missing (n8n will assign one on import)');\\n  }\\n\\n  // ── 3b. nodes: must be a non-empty array ────────────────────────────────────\\n  if (!Array.isArray(parsed.nodes)) {\\n    errors.push('\\\"nodes\\\" must be an array');\\n  } else if (parsed.nodes.length === 0) {\\n    errors.push('\\\"nodes\\\" array must not be empty');\\n  } else {\\n    const nodeNames = new Set();\\n    const nodeIds   = new Set();\\n\\n    parsed.nodes.forEach((node, idx) => {\\n      const prefix = `nodes[${idx}] (\\\"${node.name || 'unnamed'}\\\")`;\\n\\n      // name\\n      if (typeof node.name !== 'string' || node.name.trim() === '') {\\n        errors.push(`${prefix}: missing or empty \\\"name\\\"`);\\n      } else {\\n        if (nodeNames.has(node.name)) {\\n          errors.push(`${prefix}: duplicate node name \\\"${node.name}\\\"`);\\n        }\\n        nodeNames.add(node.name);\\n      }\\n\\n      // type\\n      if (typeof node.type !== 'string' || node.type.trim() === '') {\\n        errors.push(`${prefix}: missing or empty \\\"type\\\"`);\\n      }\\n\\n      // typeVersion\\n      if (typeof node.typeVersion !== 'number') {\\n        errors.push(`${prefix}: \\\"typeVersion\\\" must be a number`);\\n      }\\n\\n      // position — n8n uses ARRAY [x, y], NOT object {x, y}\\n      if (\\n        !Array.isArray(node.position) ||\\n        node.position.length < 2 ||\\n        typeof node.position[0] !== 'number' ||\\n        typeof node.position[1] !== 'number'\\n      ) {\\n        errors.push(`${prefix}: \\\"position\\\" must be an array [x, y] with two numbers`);\\n      }\\n\\n      // id (optional but warn if missing)\\n      if (node.id === undefined || node.id === null) {\\n        warnings.push(`${prefix}: \\\"id\\\" field is missing (recommended)`);\\n      } else if (nodeIds.has(node.id)) {\\n        errors.push(`${prefix}: duplicate node id \\\"${node.id}\\\"`);\\n      } else {\\n        nodeIds.add(node.id);\\n      }\\n    });\\n\\n    // ── 3c. connections: referenced node names must exist in nodes ──────────\\n    if (parsed.connections && typeof parsed.connections === 'object') {\\n      const nodeNameSet = new Set(\\n        parsed.nodes.map(n => n.name).filter(Boolean)\\n      );\\n\\n      for (const sourceName of Object.keys(parsed.connections)) {\\n        if (!nodeNameSet.has(sourceName)) {\\n          errors.push(`connections: source node \\\"${sourceName}\\\" does not exist in nodes array`);\\n        }\\n\\n        const outputGroups = parsed.connections[sourceName];\\n        if (outputGroups && typeof outputGroups === 'object') {\\n          for (const outputType of Object.keys(outputGroups)) {\\n            const outputBranches = outputGroups[outputType];\\n            if (Array.isArray(outputBranches)) {\\n              outputBranches.forEach((branch, bi) => {\\n                if (Array.isArray(branch)) {\\n                  branch.forEach((conn, ci) => {\\n                    if (conn && conn.node && !nodeNameSet.has(conn.node)) {\\n                      errors.push(\\n                        `connections[\\\"${sourceName}\\\"][\\\"${outputType}\\\"][${bi}][${ci}]: ` +\\n                        `target node \\\"${conn.node}\\\" does not exist in nodes array`\\n                      );\\n                    }\\n                  });\\n                }\\n              });\\n            }\\n          }\\n        }\\n      }\\n    } else if (typeof parsed.connections !== 'object') {\\n      errors.push('\\\"connections\\\" must be an object');\\n    }\\n  }\\n\\n  // ── 3d. Optional field warnings ─────────────────────────────────────────────\\n  if (!parsed.settings || typeof parsed.settings !== 'object') {\\n    warnings.push('\\\"settings\\\" field is missing (recommended)');\\n  }\\n\\n  // ── 4. Attach validation result ─────────────────────────────────────────────\\n  if (errors.length === 0) {\\n    item.json.validationStatus   = 200;\\n    item.json.validationPassed   = true;\\n    item.json.validationErrors   = [];\\n    item.json.validationWarnings = warnings;\\n    item.json.message            = \\\"Workflow JSON is valid and ready to import into n8n\\\";\\n  } else {\\n    item.json.validationStatus   = 500;\\n    item.json.validationPassed   = false;\\n    item.json.validationErrors   = errors;\\n    item.json.validationWarnings = warnings;\\n    item.json.message            = `Workflow JSON failed validation with ${errors.length} error(s)`;\\n  }\\n}\\n\\nreturn items;\"\r\n      },\r\n      \"type\": \"n8n-nodes-base.code\",\r\n      \"typeVersion\": 2,\r\n      \"position\": [\r\n        -16,\r\n        1504\r\n      ],\r\n      \"id\": \"82f8692c-6971-4eec-ad54-b4517795ed90\",\r\n      \"name\": \"Code in JavaScript\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"operation\": \"fromJson\",\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"n8n-nodes-base.extractFromFile\",\r\n      \"typeVersion\": 1.1,\r\n      \"position\": [\r\n        704,\r\n        1552\r\n      ],\r\n      \"id\": \"d100903c-20ff-4732-9aa5-eb87ef1e6ab3\",\r\n      \"name\": \"Extract from File\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"modelId\": {\r\n          \"__rl\": true,\r\n          \"value\": \"gpt-4o-mini\",\r\n          \"mode\": \"list\",\r\n          \"cachedResultName\": \"GPT-4O-MINI\"\r\n        },\r\n        \"responses\": {\r\n          \"values\": [\r\n            {\r\n              \"content\": \"={{ JSON.stringify($json.data) }}\"\r\n            },\r\n            {\r\n              \"role\": \"system\",\r\n              \"content\": \"# Section 1 — Role & Objective\\n\\nYou are the **n8n README Generator Agent** — a technical documentation specialist operating as an AI Agent Tool inside an n8n workflow publishing pipeline.\\n\\nYour sole task: receive a parsed n8n workflow JSON object and produce a single, complete, publication-ready README.md file as a raw markdown string.\\n\\nYour success criterion: the output is a valid, complete markdown string that perfectly documents the received workflow — requiring zero editing before being saved as a README.md file. No JSON wrapper. No preamble. No explanation. Only the markdown content itself.\\n\\n---\\n\\n# Section 2 — Input Context\\n\\nYou will receive a single JSON object under `$json.data` containing the following confirmed fields:\\n\\n- `nodes` (Required): Array of node objects. Each node contains `name`, `type`, `typeVersion`, `parameters`, and optionally `credentials`.\\n- `connections` (Required): Object describing how nodes are wired together.\\n- `pinData` (Optional): Sample data pinned to specific nodes for testing.\\n- `meta` (Optional): Workflow metadata such as `instanceId`.\\n\\nDo not reference or assume any field not listed here. If an expected field is absent, trigger the fallback behavior defined in Section 7.\\n\\n---\\n\\n# Section 3 — Agent Behavior & Thinking Process\\n\\n**Step 1:** Read and validate the input against the schema in Section 2. Confirm `nodes` and `connections` are present and non-empty.\\n\\n**Step 2:** Parse the `nodes` array. For each node, extract: `name`, `type`, and `parameters`. Map the node `type` string to a human-readable technology label (e.g., `n8n-nodes-base.formTrigger` → \\\"Form Trigger\\\", `@n8n/n8n-nodes-langchain.openAi` → \\\"OpenAI LangChain Node\\\"). Extract any `credentials` keys present to infer prerequisites (e.g., `openAiApi` → \\\"OpenAI API key required\\\").\\n\\n**Step 3:** Parse the `connections` object to reconstruct the execution order of nodes. Use this to build the ASCII flow diagram and the \\\"How It Works\\\" narrative. Walk connections from the trigger node forward.\\n\\n**Step 4:** Using only data derived from Steps 2 and 3, populate every section of the README template defined in Section 5. For any section where the workflow JSON provides insufficient data, insert the placeholder text defined in Section 7.\\n\\n**Step 5:** Verify your output matches the schema in Section 5 before returning it. Confirm: no JSON wrapper, no preamble, no trailing explanation — raw markdown only.\\n\\n**Step 6:** If any step fails, execute the fallback defined in Section 7.\\n\\n**Self-Check:** Before producing your final output, perform a self-check: Does every value in your output come directly from the input data or a tool result? If any value was inferred or assumed without a traceable source, mark it explicitly with `<!-- inferred -->` inline so a human reviewer can verify it. Do not guess silently.\\n\\n---\\n\\n# Section 4 — Rules & Instructions\\n\\n- Do not add conversational filler, preambles, or explanations to your output.\\n- Do not echo the input data raw in your output.\\n- Do not fabricate node names, credentials, or behaviors not present in the workflow JSON.\\n- Execute deterministically: given the same workflow JSON, always produce the same README.\\n- Do not make assumptions about fields, APIs, or behaviors not described in this prompt.\\n- Never modify the README template structure to add or remove sections, even if they seem unnecessary for a simple workflow.\\n- For sections where the workflow JSON cannot provide sufficient detail, insert the placeholder `_[Insufficient data — review manually]_` and continue. Do not skip the section header.\\n- The output must be a single raw markdown string. No JSON wrapper. No code fences around the entire output. No leading or trailing text outside the markdown document.\\n- Omit the \\\"Setup & Installation\\\" section entirely from the output.\\n\\n---\\n\\n# Section 5 — Output README Template\\n\\nProduce the README in this exact structure and order:\\n\\n```\\n# [emoji] [Workflow Name]\\nOne paragraph — what it does, what problem it solves, what the result is.\\n\\n---\\n\\n## Table of Contents\\n- Overview\\n- How It Works\\n- Node Architecture\\n- Tech Stack\\n- Prerequisites\\n- Configuration\\n- Output\\n- Edge Cases & Fallbacks\\n\\n---\\n\\n## Overview\\nWhat triggers it, what it does, what value it delivers.\\n\\n---\\n\\n## How It Works\\n[ASCII flow diagram]\\nStep 1 → Step 2 → Step 3 ...\\n\\nNumbered prose explanation of each step.\\n\\n---\\n\\n## Node Architecture\\n| Node Name | Type | Role |\\n|---|---|---|\\n| ... | ... | ... |\\n\\n---\\n\\n## Tech Stack\\n| Component | Technology |\\n|---|---|\\n| ... | ... |\\n\\n---\\n\\n## Prerequisites\\n- n8n instance v1.0+\\n- [Any credential inferred from node `credentials` keys]\\n- ...\\n\\n---\\n\\n## Configuration\\nAny settings, models, or parameters a user must customize before running.\\n\\n---\\n\\n## Output\\nWhat the workflow produces when it runs successfully.\\n\\n---\\n\\n## Edge Cases & Fallbacks\\n| Scenario | Behavior |\\n|---|---|\\n| ... | ... |\\n```\\n\\nRules for populating the template:\\n- The emoji in the title must be chosen to reflect the workflow's primary function.\\n- The workflow name must be derived from the `formTitle` parameter of the trigger node if present, otherwise from the first node's `name` field.\\n- The ASCII flow diagram must reflect the actual `connections` object — not invented order.\\n- The Node Architecture table must contain one row per node in the `nodes` array.\\n- The Tech Stack table must list each unique node type as a technology component.\\n- The Prerequisites list must include `n8n instance v1.0+` always, plus one bullet per unique credential key found across all nodes.\\n- The Edge Cases & Fallbacks table must include at minimum: missing required form fields, malformed workflow JSON input, and any error paths inferable from the workflow structure.\\n\\n---\\n\\n# Section 6 — Limitations & Constraints\\n\\n- **Knowledge boundary:** Your knowledge is limited to what is described in this prompt and what the input workflow JSON contains. Do not use external knowledge to fill documentation gaps — use the defined placeholder instead.\\n- **No assumption rule:** If a required piece of information is missing from the input, do not guess. Use the fallback behavior defined in Section 7.\\n- **Template fidelity:** The README template in Section 5 is fixed. Do not add, remove, or reorder sections.\\n- **Tool boundary:** You have no tools available. Produce the README from the input data alone.\\n- **Credential inference rule:** You may infer a prerequisite from a credential key name (e.g., `openAiApi` → \\\"OpenAI API key\\\") only when the mapping is unambiguous. If the credential key name is unclear, insert the raw key name as-is with a note: `[credential: openAiApi — confirm requirement]`.\\n- **No hallucinated steps:** Do not add workflow steps to the \\\"How It Works\\\" section that do not correspond to a node present in the `nodes` array.\\n\\n---\\n\\n# Section 7 — Conditions & Edge Cases\\n\\n- **IF** `nodes` is null, missing, or an empty array:\\n  → Output exactly: `_[Error: workflow JSON contains no nodes. README cannot be generated.]_`\\n\\n- **IF** `connections` is null or missing:\\n  → Populate the ASCII flow diagram with: `[Connection data unavailable — diagram cannot be generated]` and continue generating all other sections from the `nodes` array alone.\\n\\n- **IF** a node has no `type` field:\\n  → In the Node Architecture table, enter `[type unknown]` for that node's Type and Role columns.\\n\\n- **IF** no `credentials` keys are found across any node:\\n  → The Prerequisites section contains only: `- n8n instance v1.0+`\\n\\n- **IF** a section cannot be populated with any data from the workflow JSON:\\n  → Insert `_[Insufficient data — review manually]_` under that section's header. Do not remove the header.\\n\\n- **IF** the input does not match the schema defined in Section 2:\\n  → Output exactly: `_[Error: unexpected input format. Expected $json.data with nodes and connections fields.]_`\\n\\n---\\n\\n# Section 8 — Token Optimization Protocol\\n\\n- Do not echo the raw input JSON anywhere in your output.\\n- Output raw markdown only. Do not wrap the entire output in a code fence.\\n- Omit all reasoning, chain-of-thought, and internal commentary from the output. The only exception is inline `<!-- inferred -->` markers as defined in the self-check rule.\\n- Keep prose sections (Overview, How It Works narrative) concise — two to four sentences per paragraph maximum.\\n- Do not repeat information already stated in one section inside another section.\\n- Do not add explanatory comments inside markdown tables.\"\r\n            }\r\n          ]\r\n        },\r\n        \"builtInTools\": {},\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"@n8n/n8n-nodes-langchain.openAi\",\r\n      \"typeVersion\": 2.3,\r\n      \"position\": [\r\n        928,\r\n        1600\r\n      ],\r\n      \"id\": \"0946bc88-1613-46ef-8c36-51741409d43a\",\r\n      \"name\": \"Message a model\",\r\n      \"credentials\": {\r\n        \"openAiApi\": {\r\n          \"id\": \"nd3jsxwTHwLjr2UH\",\r\n          \"name\": \"n8n free OpenAI API credits\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"operation\": \"toText\",\r\n        \"sourceProperty\": \"output[0].content[0].text\",\r\n        \"options\": {\r\n          \"fileName\": \"README.md\"\r\n        }\r\n      },\r\n      \"type\": \"n8n-nodes-base.convertToFile\",\r\n      \"typeVersion\": 1.1,\r\n      \"position\": [\r\n        1376,\r\n        1600\r\n      ],\r\n      \"id\": \"b5447f05-a854-40ab-b012-76e0db566498\",\r\n      \"name\": \"Convert to File\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"conditions\": {\r\n          \"options\": {\r\n            \"caseSensitive\": true,\r\n            \"leftValue\": \"\",\r\n            \"typeValidation\": \"strict\",\r\n            \"version\": 3\r\n          },\r\n          \"conditions\": [\r\n            {\r\n              \"id\": \"8a755e1c-c941-4535-9bb6-d990b6f03c4c\",\r\n              \"leftValue\": \"={{ $json.validationPassed }}\",\r\n              \"rightValue\": false,\r\n              \"operator\": {\r\n                \"type\": \"boolean\",\r\n                \"operation\": \"equals\"\r\n              }\r\n            }\r\n          ],\r\n          \"combinator\": \"and\"\r\n        },\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"n8n-nodes-base.if\",\r\n      \"typeVersion\": 2.3,\r\n      \"position\": [\r\n        240,\r\n        1536\r\n      ],\r\n      \"id\": \"43c90ece-d3f9-421f-9a68-0b8fbcb0c5af\",\r\n      \"name\": \"If\"\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"sendTo\": \"={{ $('Code in JavaScript').item.json[\\\"Your Email\\\"] }}\",\r\n        \"subject\": \"⚠️ Workflow Submission Failed — Please Review Your JSON\",\r\n        \"message\": \"<!DOCTYPE html> <html lang=\\\"en\\\"> <body style=\\\"margin:0;padding:0;background:#f5f5f5;font-family:Arial,sans-serif;\\\"> <table width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"background:#f5f5f5;padding:32px 0;\\\">   <tr><td align=\\\"center\\\">     <table width=\\\"560\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #e5e5e5;\\\">       <tr>         <td style=\\\"background:#A32D2D;padding:32px 32px 24px;\\\">           <p style=\\\"margin:0 0 6px;font-size:12px;font-weight:600;color:#F7C1C1;letter-spacing:0.06em;text-transform:uppercase;\\\">⚠ Workflow Error</p>           <h1 style=\\\"margin:0;font-size:22px;font-weight:600;color:#FCEBEB;\\\">Workflow run failed</h1>         </td>       </tr>       <tr>         <td style=\\\"padding:28px 32px;\\\">           <p style=\\\"margin:0 0 20px;font-size:15px;color:#1a1a1a;line-height:1.7;\\\">             Your n8n workflow was unable to complete successfully. The submitted input could not be processed.           </p>           <div style=\\\"background:#fef2f2;border-left:3px solid #E24B4A;border-radius:0 8px 8px 0;padding:14px 16px;margin-bottom:24px;\\\">             <p style=\\\"margin:0 0 4px;font-size:12px;font-weight:600;color:#888;\\\">LIKELY CAUSE</p>             <p style=\\\"margin:0;font-size:14px;color:#1a1a1a;\\\">Invalid or malformed workflow JSON was submitted through the form.</p>           </div>           <p style=\\\"margin:0 0 16px;font-size:14px;color:#666;line-height:1.7;\\\">Please review the following before trying again:</p>           <table width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"margin-bottom:28px;\\\">             <tr><td style=\\\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\\\">✅&nbsp; The JSON was exported directly from n8n and is unmodified</td></tr>             <tr><td style=\\\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\\\">✅&nbsp; The pasted content is valid JSON (no trailing commas or missing brackets)</td></tr>             <tr><td style=\\\"padding:10px 0;font-size:14px;color:#1a1a1a;\\\">✅&nbsp; The form field was not left empty or partially filled</td></tr>           </table>           <div style=\\\"border-top:1px solid #f0f0f0;padding-top:20px;\\\">             <p style=\\\"margin:0;font-size:12px;color:#999;line-height:1.6;\\\">               This is an automated message from your n8n workflow. If the problem persists after retrying with valid JSON, please check your workflow configuration or contact your administrator.             </p>           </div>         </td>       </tr>     </table>   </td></tr> </table> </body> </html>\",\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"n8n-nodes-base.gmail\",\r\n      \"typeVersion\": 2.2,\r\n      \"position\": [\r\n        464,\r\n        1360\r\n      ],\r\n      \"id\": \"37410335-b5ef-47ae-9994-b920c139a4a6\",\r\n      \"name\": \"Failure\",\r\n      \"webhookId\": \"9c9dad87-a9c3-4421-8881-f8ecde0f596f\",\r\n      \"credentials\": {\r\n        \"gmailOAuth2\": {\r\n          \"id\": \"CrZDjM4iPVOsPaec\",\r\n          \"name\": \"Gmail OAuth2 API\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"parameters\": {\r\n        \"sendTo\": \"={{ $('Code in JavaScript').item.json[\\\"Your Email\\\"] }}\",\r\n        \"subject\": \"✅ Workflow Published Successfully to Repository\",\r\n        \"message\": \"<!DOCTYPE html> <html lang=\\\"en\\\"> <body style=\\\"margin:0;padding:0;background:#f5f5f5;font-family:Arial,sans-serif;\\\"> <table width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"background:#f5f5f5;padding:32px 0;\\\">   <tr><td align=\\\"center\\\">     <table width=\\\"560\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #e5e5e5;\\\">       <tr>         <td style=\\\"background:#27500A;padding:32px 32px 24px;\\\">           <p style=\\\"margin:0 0 6px;font-size:12px;font-weight:600;color:#C0DD97;letter-spacing:0.06em;text-transform:uppercase;\\\">✓ Workflow Published</p>           <h1 style=\\\"margin:0;font-size:22px;font-weight:600;color:#EAF3DE;\\\">Your workflow was added to the repository</h1>         </td>       </tr>       <tr>         <td style=\\\"padding:28px 32px;\\\">           <p style=\\\"margin:0 0 20px;font-size:15px;color:#1a1a1a;line-height:1.7;\\\">             Your n8n workflow was successfully processed and published to the GitHub repository. A README file has been automatically generated and committed alongside your workflow JSON.           </p>           <div style=\\\"background:#f2faf0;border-left:3px solid #639922;border-radius:0 8px 8px 0;padding:14px 16px;margin-bottom:24px;\\\">             <p style=\\\"margin:0 0 4px;font-size:12px;font-weight:600;color:#888;\\\">WHAT HAPPENED</p>             <p style=\\\"margin:0;font-size:14px;color:#1a1a1a;\\\">The workflow JSON was parsed, a README.md was generated by AI, and both files were committed to the repository.</p>           </div>           <table width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"margin-bottom:28px;\\\">             <tr><td style=\\\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\\\">✅&nbsp; Workflow JSON committed to repository</td></tr>             <tr><td style=\\\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\\\">✅&nbsp; README.md generated and committed</td></tr>             <tr><td style=\\\"padding:10px 0;font-size:14px;color:#1a1a1a;\\\">✅&nbsp; Repository updated successfully</td></tr>           </table>           <div style=\\\"border-top:1px solid #f0f0f0;padding-top:20px;\\\">             <p style=\\\"margin:0;font-size:12px;color:#999;line-height:1.6;\\\">               This is an automated message from your n8n workflow. You can now find your workflow and its documentation in the GitHub repository.             </p>           </div>         </td>       </tr>     </table>   </td></tr> </table> </body> </html>\",\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"n8n-nodes-base.gmail\",\r\n      \"typeVersion\": 2.2,\r\n      \"position\": [\r\n        448,\r\n        1664\r\n      ],\r\n      \"id\": \"f4508b0e-5e46-4215-95d9-d2b2af20af3b\",\r\n      \"name\": \"Success\",\r\n      \"webhookId\": \"9c9dad87-a9c3-4421-8881-f8ecde0f596f\",\r\n      \"credentials\": {\r\n        \"gmailOAuth2\": {\r\n          \"id\": \"CrZDjM4iPVOsPaec\",\r\n          \"name\": \"Gmail OAuth2 API\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"connections\": {\r\n    \"Submit Workflow Form\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"JSON Converter\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"JSON Converter\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"Is JSON Valid?\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"Is JSON Valid?\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"GitHub — Upload Workflow JSON\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          },\r\n          {\r\n            \"node\": \"AI Agent — Generate README\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ],\r\n        [\r\n          {\r\n            \"node\": \"Gmail — Invalid JSON Error\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"AI Agent — Generate README\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"Markdown Converter\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"OpenAI Chat Model\": {\r\n      \"ai_languageModel\": [\r\n        [\r\n          {\r\n            \"node\": \"AI Agent — Generate README\",\r\n            \"type\": \"ai_languageModel\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"Markdown Converter\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"GitHub — Upload README\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"GitHub — Upload README\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"Gmail — Success Email\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"this\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"Code in JavaScript\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"Code in JavaScript\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"If\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"Extract from File\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"Message a model\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"Message a model\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"Convert to File\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    },\r\n    \"If\": {\r\n      \"main\": [\r\n        [\r\n          {\r\n            \"node\": \"Failure\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ],\r\n        [\r\n          {\r\n            \"node\": \"Extract from File\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          },\r\n          {\r\n            \"node\": \"Success\",\r\n            \"type\": \"main\",\r\n            \"index\": 0\r\n          }\r\n        ]\r\n      ]\r\n    }\r\n  },\r\n  \"pinData\": {\r\n    \"this\": [\r\n      {\r\n        \"Your Email\": \"zaidradaideh.dev@gmail.com\",\r\n        \"Workflow JSON\": \"{\\r\\n  \\\"nodes\\\": [\\r\\n    {\\r\\n      \\\"name\\\": \\\"\\\",\\r\\n      \\\"type\\\": \\\"\\\",\\r\\n      \\\"typeVersion\\\": \\\"should-be-a-number\\\",\\r\\n      \\\"position\\\": {\\\"x\\\": 100, \\\"y\\\": 200},\\r\\n      \\\"id\\\": \\\"node-1\\\"\\r\\n    },\\r\\n    {\\r\\n      \\\"name\\\": \\\"Real Node\\\",\\r\\n      \\\"type\\\": \\\"n8n-nodes-base.set\\\",\\r\\n      \\\"typeVersion\\\": 1,\\r\\n      \\\"position\\\": [100, 200],\\r\\n      \\\"id\\\": \\\"node-1\\\"\\r\\n    }\\r\\n  ],\\r\\n  \\\"connections\\\": {\\r\\n    \\\"Ghost Node That Does Not Exist\\\": {\\r\\n      \\\"main\\\": [\\r\\n        [\\r\\n          {\\r\\n            \\\"node\\\": \\\"Also Does Not Exist\\\",\\r\\n            \\\"type\\\": \\\"main\\\",\\r\\n            \\\"index\\\": 0\\r\\n          }\\r\\n        ]\\r\\n      ]\\r\\n    }\\r\\n  }\\r\\n}\",\r\n        \"submittedAt\": \"2026-06-20T01:14:46.618+03:00\",\r\n        \"formMode\": \"test\"\r\n      }\r\n    ],\r\n    \"Extract from File\": [\r\n      {\r\n        \"data\": {\r\n          \"nodes\": [\r\n            {\r\n              \"parameters\": {\r\n                \"operation\": \"toJson\",\r\n                \"options\": {}\r\n              },\r\n              \"type\": \"n8n-nodes-base.convertToFile\",\r\n              \"typeVersion\": 1.1,\r\n              \"position\": [\r\n                512,\r\n                1696\r\n              ],\r\n              \"id\": \"10e6a29f-ec69-4458-a74d-99e2ac013443\",\r\n              \"name\": \"Convert to File\"\r\n            },\r\n            {\r\n              \"parameters\": {\r\n                \"formTitle\": \"n8n Workflow Publisher\",\r\n                \"formDescription\": \"Paste your workflow JSON below and fill in the details. The AI will generate a README and publish everything to GitHub automatically.\",\r\n                \"formFields\": {\r\n                  \"values\": [\r\n                    {\r\n                      \"fieldLabel\": \"Your Email\",\r\n                      \"fieldType\": \"email\",\r\n                      \"placeholder\": \"you@example.com\",\r\n                      \"requiredField\": true\r\n                    },\r\n                    {\r\n                      \"fieldLabel\": \"Workflow JSON\",\r\n                      \"fieldType\": \"textarea\",\r\n                      \"placeholder\": \"Paste your exported n8n workflow JSON here...\",\r\n                      \"requiredField\": true\r\n                    }\r\n                  ]\r\n                },\r\n                \"options\": {}\r\n              },\r\n              \"type\": \"n8n-nodes-base.formTrigger\",\r\n              \"typeVersion\": 2.2,\r\n              \"position\": [\r\n                -304,\r\n                1504\r\n              ],\r\n              \"id\": \"9054f7ef-1b02-448c-a006-9f3247f4d77d\",\r\n              \"name\": \"this\",\r\n              \"webhookId\": \"8500ebc3-fe36-424f-be45-d8dcf5365c2f\"\r\n            },\r\n            {\r\n              \"parameters\": {\r\n                \"jsCode\": \"for (const item of $input.all()) {\\n  item.json = JSON.parse(item.json[\\\"Workflow JSON\\\"]);\\n}\\nreturn $input.all();\"\r\n              },\r\n              \"type\": \"n8n-nodes-base.code\",\r\n              \"typeVersion\": 2,\r\n              \"position\": [\r\n                96,\r\n                1696\r\n              ],\r\n              \"id\": \"82f8692c-6971-4eec-ad54-b4517795ed90\",\r\n              \"name\": \"Code in JavaScript\"\r\n            }\r\n          ],\r\n          \"connections\": {\r\n            \"this\": {\r\n              \"main\": [\r\n                [\r\n                  {\r\n                    \"node\": \"Code in JavaScript\",\r\n                    \"type\": \"main\",\r\n                    \"index\": 0\r\n                  }\r\n                ]\r\n              ]\r\n            },\r\n            \"Code in JavaScript\": {\r\n              \"main\": [\r\n                [\r\n                  {\r\n                    \"node\": \"Convert to File\",\r\n                    \"type\": \"main\",\r\n                    \"index\": 0\r\n                  }\r\n                ]\r\n              ]\r\n            }\r\n          },\r\n          \"pinData\": {\r\n            \"this\": [\r\n              {\r\n                \"Your Email\": \"zaidradaideh.dev@gmail.com\",\r\n                \"Workflow JSON\": \"{\\r\\n  \\\"nodes\\\": [\\r\\n    {\\r\\n      \\\"parameters\\\": {\\r\\n        \\\"formTitle\\\": \\\"n8n Workflow Publisher\\\",\\r\\n        \\\"formDescription\\\": \\\"Paste your workflow JSON below and fill in the details. The AI will generate a README and publish everything to GitHub automatically.\\\",\\r\\n        \\\"formFields\\\": {\\r\\n          \\\"values\\\": [\\r\\n            {\\r\\n              \\\"fieldLabel\\\": \\\"Your Email\\\",\\r\\n              \\\"fieldType\\\": \\\"email\\\",\\r\\n              \\\"placeholder\\\": \\\"you@example.com\\\",\\r\\n              \\\"requiredField\\\": true\\r\\n            },\\r\\n            {\\r\\n              \\\"fieldLabel\\\": \\\"Workflow JSON\\\",\\r\\n              \\\"fieldType\\\": \\\"textarea\\\",\\r\\n              \\\"placeholder\\\": \\\"Paste your exported n8n workflow JSON here...\\\",\\r\\n              \\\"requiredField\\\": true\\r\\n            }\\r\\n          ]\\r\\n        },\\r\\n        \\\"options\\\": {}\\r\\n      },\\r\\n      \\\"type\\\": \\\"n8n-nodes-base.formTrigger\\\",\\r\\n      \\\"typeVersion\\\": 2.2,\\r\\n      \\\"position\\\": [\\r\\n        -368,\\r\\n        1264\\r\\n      ],\\r\\n      \\\"id\\\": \\\"7b6e6e0b-f72e-4e13-aeaa-383ff897d43c\\\",\\r\\n      \\\"name\\\": \\\"Submit Workflow Form\\\",\\r\\n      \\\"webhookId\\\": \\\"a6a847ca-7719-4e8e-b9e0-a80800d4b9ef\\\"\\r\\n    }\\r\\n  ],\\r\\n  \\\"connections\\\": {\\r\\n    \\\"Submit Workflow Form\\\": {\\r\\n      \\\"main\\\": [\\r\\n        []\\r\\n      ]\\r\\n    }\\r\\n  },\\r\\n  \\\"pinData\\\": {},\\r\\n  \\\"meta\\\": {\\r\\n    \\\"templateCredsSetupCompleted\\\": true,\\r\\n    \\\"instanceId\\\": \\\"c12f628b22583c70e4dca469116ed48cb0e578a4bf671b6f87f63bd78fbf23f2\\\"\\r\\n  }\\r\\n}\",\r\n                \"submittedAt\": \"2026-06-20T00:01:36.828+03:00\",\r\n                \"formMode\": \"test\"\r\n              }\r\n            ]\r\n          },\r\n          \"meta\": {\r\n            \"templateCredsSetupCompleted\": true,\r\n            \"instanceId\": \"c12f628b22583c70e4dca469116ed48cb0e578a4bf671b6f87f63bd78fbf23f2\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"Message a model\": [\r\n      {\r\n        \"output\": [\r\n          {\r\n            \"id\": \"msg_085b32d3e7b851e8006a35b931e66c8194a9bafff47fcdd98d\",\r\n            \"type\": \"message\",\r\n            \"status\": \"completed\",\r\n            \"content\": [\r\n              {\r\n                \"type\": \"output_text\",\r\n                \"annotations\": [],\r\n                \"logprobs\": [],\r\n                \"text\": \"# ✍️ n8n Workflow Publisher\\nThis workflow allows users to submit their n8n workflow JSON and automatically generate a README. It streamlines the documentation process for workflows, ensuring clarity and accessibility.\\n\\n---\\n\\n## Table of Contents\\n- Overview\\n- How It Works\\n- Node Architecture\\n- Tech Stack\\n- Prerequisites\\n- Configuration\\n- Output\\n- Edge Cases & Fallbacks\\n\\n---\\n\\n## Overview\\nThe workflow is triggered when a user submits a form containing their workflow JSON. It processes the input and prepares the data for conversion into a structured file format, ready for publication.\\n\\n---\\n\\n## How It Works\\n```\\nForm Trigger → Code in JavaScript → Convert to File\\n```\\n1. **Form Trigger**: The workflow starts when a user submits their email and workflow JSON via a form.\\n2. **Code in JavaScript**: The submitted JSON is parsed, making it ready for file conversion.\\n3. **Convert to File**: The parsed workflow is converted into a structured file format for further use or publishing.\\n\\n---\\n\\n## Node Architecture\\n| Node Name              | Type                            | Role                             |\\n|-----------------------|--------------------------------|----------------------------------|\\n| this                  | n8n-nodes-base.formTrigger     | Collects user input for workflow |\\n| Code in JavaScript    | n8n-nodes-base.code            | Parses workflow JSON             |\\n| Convert to File       | n8n-nodes-base.convertToFile   | Converts parsed JSON to a file   |\\n\\n---\\n\\n## Tech Stack\\n| Component | Technology                      |\\n|-----------|---------------------------------|\\n| Form Trigger      | n8n-nodes-base.formTrigger     |\\n| Code              | n8n-nodes-base.code            |\\n| Convert to File   | n8n-nodes-base.convertToFile   |\\n\\n---\\n\\n## Prerequisites\\n- n8n instance v1.0+\\n- [credential: openAiApi — confirm requirement]\\n\\n---\\n\\n## Configuration\\n_[Insufficient data — review manually]_\\n\\n---\\n\\n## Output\\nThe workflow produces a formatted file containing the documentation of the submitted workflow, which can be published or used for reference.\\n\\n---\\n\\n## Edge Cases & Fallbacks\\n| Scenario                             | Behavior                                   |\\n|--------------------------------------|--------------------------------------------|\\n| Missing required form fields         | The workflow will not process until all fields are completed. |\\n| Malformed workflow JSON input        | The workflow will fail to parse and return an error. |\\n| [Connection data unavailable]        | Diagram will not be generated, but processing continues normally. |\"\r\n              }\r\n            ],\r\n            \"role\": \"assistant\"\r\n          }\r\n        ]\r\n      }\r\n    ]\r\n  },\r\n  \"meta\": {\r\n    \"templateCredsSetupCompleted\": true,\r\n    \"instanceId\": \"c12f628b22583c70e4dca469116ed48cb0e578a4bf671b6f87f63bd78fbf23f2\"\r\n  }\r\n}","submittedAt":"2026-06-20T01:31:30.941+03:00","formMode":"test"}],"Extract from File":[{"data":{"nodes":[{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[512,1696],"id":"10e6a29f-ec69-4458-a74d-99e2ac013443","name":"Convert to File"},{"parameters":{"formTitle":"n8n Workflow Publisher","formDescription":"Paste your workflow JSON below and fill in the details. The AI will generate a README and publish everything to GitHub automatically.","formFields":{"values":[{"fieldLabel":"Your Email","fieldType":"email","placeholder":"you@example.com","requiredField":true},{"fieldLabel":"Workflow JSON","fieldType":"textarea","placeholder":"Paste your exported n8n workflow JSON here...","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-304,1504],"id":"9054f7ef-1b02-448c-a006-9f3247f4d77d","name":"this","webhookId":"8500ebc3-fe36-424f-be45-d8dcf5365c2f"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json = JSON.parse(item.json[\"Workflow JSON\"]);\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,1696],"id":"82f8692c-6971-4eec-ad54-b4517795ed90","name":"Code in JavaScript"}],"connections":{"this":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"pinData":{"this":[{"Your Email":"zaidradaideh.dev@gmail.com","Workflow JSON":"{\r\n  \"nodes\": [\r\n    {\r\n      \"parameters\": {\r\n        \"formTitle\": \"n8n Workflow Publisher\",\r\n        \"formDescription\": \"Paste your workflow JSON below and fill in the details. The AI will generate a README and publish everything to GitHub automatically.\",\r\n        \"formFields\": {\r\n          \"values\": [\r\n            {\r\n              \"fieldLabel\": \"Your Email\",\r\n              \"fieldType\": \"email\",\r\n              \"placeholder\": \"you@example.com\",\r\n              \"requiredField\": true\r\n            },\r\n            {\r\n              \"fieldLabel\": \"Workflow JSON\",\r\n              \"fieldType\": \"textarea\",\r\n              \"placeholder\": \"Paste your exported n8n workflow JSON here...\",\r\n              \"requiredField\": true\r\n            }\r\n          ]\r\n        },\r\n        \"options\": {}\r\n      },\r\n      \"type\": \"n8n-nodes-base.formTrigger\",\r\n      \"typeVersion\": 2.2,\r\n      \"position\": [\r\n        -368,\r\n        1264\r\n      ],\r\n      \"id\": \"7b6e6e0b-f72e-4e13-aeaa-383ff897d43c\",\r\n      \"name\": \"Submit Workflow Form\",\r\n      \"webhookId\": \"a6a847ca-7719-4e8e-b9e0-a80800d4b9ef\"\r\n    }\r\n  ],\r\n  \"connections\": {\r\n    \"Submit Workflow Form\": {\r\n      \"main\": [\r\n        []\r\n      ]\r\n    }\r\n  },\r\n  \"pinData\": {},\r\n  \"meta\": {\r\n    \"templateCredsSetupCompleted\": true,\r\n    \"instanceId\": \"c12f628b22583c70e4dca469116ed48cb0e578a4bf671b6f87f63bd78fbf23f2\"\r\n  }\r\n}","submittedAt":"2026-06-20T00:01:36.828+03:00","formMode":"test"}]},"meta":{"templateCredsSetupCompleted":true,"instanceId":"c12f628b22583c70e4dca469116ed48cb0e578a4bf671b6f87f63bd78fbf23f2"}}}],"Message a model":[{"output":[{"id":"msg_01a8ca35e73dfc10006a3654c7512081939fa517794906174f","type":"message","status":"completed","content":[{"type":"output_text","annotations":[],"logprobs":[],"text":{"workflowName":"n8n Workflow Publisher","readme":"# ✨ n8n Workflow Publisher\nThis workflow allows users to publish n8n workflows directly to GitHub by submitting a form with the workflow JSON and their email. It streamlines the process of sharing n8n workflows, ensuring that they are easily accessible and organized.\n\n---\n\n## Table of Contents\n- Overview\n- How It Works\n- Node Architecture\n- Tech Stack\n- Prerequisites\n- Configuration\n- Output\n- Edge Cases & Fallbacks\n\n---\n\n## Overview\nThis workflow is triggered by a form submission where users provide their email and paste their n8n workflow JSON. Once submitted, it parses the JSON and converts it into a structured file for publishing.\n\n---\n\n## How It Works\n[Connection data unavailable — diagram cannot be generated]\nStep 1 → Step 2 → Step 3 ...\n\n1. The user submits their email and workflow JSON through the form.\n2. The workflow parses the submitted JSON to extract relevant data.\n3. The parsed workflow is then converted into a file, ready for publishing.\n\n---\n\n## Node Architecture\n| Node Name               | Type                                   | Role                          |\n|-------------------------|----------------------------------------|-------------------------------|\n| this                    | n8n-nodes-base.formTrigger            | Form Submission Trigger       |\n| Code in JavaScript      | n8n-nodes-base.code                   | Workflow JSON Parser         |\n| Convert to File        | n8n-nodes-base.convertToFile          | Convert JSON to File         |\n\n---\n\n## Tech Stack\n| Component         | Technology                                   |\n|-------------------|----------------------------------------------|\n| Form Trigger      | n8n-nodes-base.formTrigger                  |\n| Code              | n8n-nodes-base.code                         |\n| File Conversion   | n8n-nodes-base.convertToFile                |\n\n---\n\n## Prerequisites\n- n8n instance v1.0+\n- [credential: email — confirm requirement]\n\n---\n\n## Configuration\n_[Insufficient data — review manually]_\n\n---\n\n## Output\nThe workflow produces a structured file ready for publication to GitHub based on the provided n8n workflow JSON.\n\n---\n\n## Edge Cases & Fallbacks\n| Scenario                                  | Behavior                                               |\n|-------------------------------------------|--------------------------------------------------------|\n| Missing required form fields              | Workflow fails to trigger, error response provided.    |\n| Malformed workflow JSON input             | Workflow fails to parse JSON, error response provided.  |\n| Unexpected node type in workflow          | Workflow execution halts, logs error messages.         |"}}],"role":"assistant"}]}],"GitHub — Upload Workflow JSON":[{"content":{"name":"README.md","path":" n8n Workflow Publisher/README.md","sha":"d49e126d2c3b83dc62423d6a2a6b552fcdad3fe6","size":2694,"url":"https://api.github.com/repos/ZaidAR75/n8n-automation-workflows/contents/%20n8n%20Workflow%20Publisher/README.md?ref=main","html_url":"https://github.com/ZaidAR75/n8n-automation-workflows/blob/main/%20n8n%20Workflow%20Publisher/README.md","git_url":"https://api.github.com/repos/ZaidAR75/n8n-automation-workflows/git/blobs/d49e126d2c3b83dc62423d6a2a6b552fcdad3fe6","download_url":"https://raw.githubusercontent.com/ZaidAR75/n8n-automation-workflows/main/%20n8n%20Workflow%20Publisher/README.md","type":"file","_links":{"self":"https://api.github.com/repos/ZaidAR75/n8n-automation-workflows/contents/%20n8n%20Workflow%20Publisher/README.md?ref=main","git":"https://api.github.com/repos/ZaidAR75/n8n-automation-workflows/git/blobs/d49e126d2c3b83dc62423d6a2a6b552fcdad3fe6","html":"https://github.com/ZaidAR75/n8n-automation-workflows/blob/main/%20n8n%20Workflow%20Publisher/README.md"}},"commit":{"sha":"31c531460ef18ba2d4cc1809589e99fed8162ffb","node_id":"C_kwDOS_rNqdoAKDMxYzUzMTQ2MGVmMThiYTJkNGNjMTgwOTU4OWU5OWZlZDgxNjJmZmI","url":"https://api.github.com/repos/ZaidAR75/n8n-automation-workflows/git/commits/31c531460ef18ba2d4cc1809589e99fed8162ffb","html_url":"https://github.com/ZaidAR75/n8n-automation-workflows/commit/31c531460ef18ba2d4cc1809589e99fed8162ffb","author":{"name":"ZaidAR75","email":"149823751+ZaidAR75@users.noreply.github.com","date":"2026-06-20T09:09:36Z"},"committer":{"name":"ZaidAR75","email":"149823751+ZaidAR75@users.noreply.github.com","date":"2026-06-20T09:09:36Z"},"tree":{"sha":"a957ff2862edca1c1f4c464f60edb856a61ae961","url":"https://api.github.com/repos/ZaidAR75/n8n-automation-workflows/git/trees/a957ff2862edca1c1f4c464f60edb856a61ae961"},"message":"add  n8n Workflow Publisher","parents":[{"sha":"5eb815fd391d902715292671132f29c41ca81ca4","url":"https://api.github.com/repos/ZaidAR75/n8n-automation-workflows/git/commits/5eb815fd391d902715292671132f29c41ca81ca4","html_url":"https://github.com/ZaidAR75/n8n-automation-workflows/commit/5eb815fd391d902715292671132f29c41ca81ca4"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}}}]},"meta":{"templateCredsSetupCompleted":true,"instanceId":"c12f628b22583c70e4dca469116ed48cb0e578a4bf671b6f87f63bd78fbf23f2"}}