 n8n Workflow Publisher/workflow.json
{"nodes":[{"parameters":{"formTitle":"n8n Workflow Publisher","formDescription":"Paste your workflow JSON below and fill in the details. The AI will generate a README and publish everything to GitHub automatically.","formFields":{"values":[{"fieldLabel":"Your Email","fieldType":"email","placeholder":"you@example.com","requiredField":true},{"fieldLabel":"Workflow JSON","fieldType":"textarea","placeholder":"Paste your exported n8n workflow JSON here...","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-304,1456],"id":"9054f7ef-1b02-448c-a006-9f3247f4d77d","name":"this","webhookId":"8500ebc3-fe36-424f-be45-d8dcf5365c2f"},{"parameters":{"jsCode":"const items = $input.all();\n\n// ── Repair stray literal \"\\n\" / \"\\r\" formatting artifacts ──────────────────\n// n8n's form sometimes submits JSON where line breaks come through as the\n// literal characters backslash+n instead of a real newline byte. This only\n// strips those OUTSIDE of quoted strings, so real \\n inside a node's\n// jsCode/message stays untouched.\nfunction stripStructuralEscapes(text) {\n  let result = '';\n  let inString = false;\n\n  for (let i = 0; i < text.length; i++) {\n    const char = text[i];\n\n    if (inString) {\n      if (char === '\\\\' && i + 1 < text.length) {\n        result += char + text[i + 1];\n        i++;\n        continue;\n      }\n      if (char === '\"') inString = false;\n      result += char;\n      continue;\n    }\n\n    if (char === '\"') {\n      inString = true;\n      result += char;\n      continue;\n    }\n\n    if (char === '\\\\' && (text[i + 1] === 'n' || text[i + 1] === 'r')) {\n      i++;\n      continue;\n    }\n\n    result += char;\n  }\n\n  return result;\n}\n\nfunction parseWithRepair(rawText) {\n  try {\n    return JSON.parse(rawText);\n  } catch (e) {\n    try {\n      return JSON.parse(stripStructuralEscapes(rawText));\n    } catch (e2) {\n      return null;\n    }\n  }\n}\n\nfunction isValidWorkflow(parsed) {\n  if (!parsed || typeof parsed !== 'object') return false;\n  if (!Array.isArray(parsed.nodes) || parsed.nodes.length === 0) return false;\n  if (!parsed.connections || typeof parsed.connections !== 'object') return false;\n\n  const nodeNames = new Set();\n  const nodeIds   = new Set();\n\n  for (const node of parsed.nodes) {\n    if (typeof node.name !== 'string' || node.name.trim() === '') return false;\n    if (nodeNames.has(node.name)) return false;\n    nodeNames.add(node.name);\n\n    if (typeof node.type !== 'string' || node.type.trim() === '') return false;\n    if (typeof node.typeVersion !== 'number') return false;\n\n    // position — n8n uses ARRAY [x, y], NOT object {x, y}\n    if (\n      !Array.isArray(node.position) ||\n      node.position.length < 2 ||\n      typeof node.position[0] !== 'number' ||\n      typeof node.position[1] !== 'number'\n    ) return false;\n\n    if (node.id !== undefined && node.id !== null) {\n      if (nodeIds.has(node.id)) return false;\n      nodeIds.add(node.id);\n    }\n  }\n\n  for (const sourceName of Object.keys(parsed.connections)) {\n    if (!nodeNames.has(sourceName)) return false;\n\n    const outputGroups = parsed.connections[sourceName];\n    if (!outputGroups || typeof outputGroups !== 'object') continue;\n\n    for (const outputType of Object.keys(outputGroups)) {\n      const outputBranches = outputGroups[outputType];\n      if (!Array.isArray(outputBranches)) continue;\n\n      for (const branch of outputBranches) {\n        if (!Array.isArray(branch)) continue;\n        for (const conn of branch) {\n          if (conn && conn.node && !nodeNames.has(conn.node)) return false;\n        }\n      }\n    }\n  }\n\n  return true;\n}\n\nfor (const item of items) {\n  const rawText = item.json[\"Workflow JSON\"];\n  const parsed = parseWithRepair(rawText);\n  const success = isValidWorkflow(parsed);\n\n  item.json = {\n    workflow: success ? parsed : null,\n    success\n  };\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,1456],"id":"82f8692c-6971-4eec-ad54-b4517795ed90","name":"Code in JavaScript"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"content":"={{ $json.workflow.toJsonString() }}"},{"role":"system","content":"# Section 1 — Role & Objective\n\nYou are the **n8n README Generator Agent** — a technical documentation specialist operating as an AI Agent Tool inside an n8n workflow publishing pipeline.\n\nYour sole task: receive a parsed n8n workflow JSON object and produce a single, complete, publication-ready output as a **raw JSON object** (not wrapped in code fences) containing two fields: `workflowName` and `readme`.\n\nYour success criterion: the output is a valid JSON object with a clean workflow name and a complete markdown string that perfectly documents the received workflow — requiring zero editing before being saved as a README.md file. No preamble. No explanation. Only the JSON object itself.\n\n---\n\n# Section 2 — Input Context\n\nYou will receive a single JSON object under `$json.data` containing the following confirmed fields:\n\n- `nodes` (Required): Array of node objects. Each node contains `name`, `type`, `typeVersion`, `parameters`, and optionally `credentials`.\n- `connections` (Required): Object describing how nodes are wired together.\n- `pinData` (Optional): Sample data pinned to specific nodes for testing.\n- `meta` (Optional): Workflow metadata such as `instanceId`.\n\nDo not reference or assume any field not listed here. If an expected field is absent, trigger the fallback behavior defined in Section 7.\n\n---\n\n# Section 3 — Agent Behavior & Thinking Process\n\n**Step 1:** Read and validate the input against the schema in Section 2. Confirm `nodes` and `connections` are present and non-empty.\n\n**Step 2:** Parse the `nodes` array. For each node, extract: `name`, `type`, and `parameters`. Map the node `type` string to a human-readable technology label (e.g., `n8n-nodes-base.formTrigger` → \"Form Trigger\", `@n8n/n8n-nodes-langchain.openAi` → \"OpenAI LangChain Node\"). Extract any `credentials` keys present to infer prerequisites (e.g., `openAiApi` → \"OpenAI API key required\").\n\n**Step 3:** Parse the `connections` object to reconstruct the execution order of nodes. Use this to build the ASCII flow diagram and the \"How It Works\" narrative. Walk connections from the trigger node forward.\n\n**Step 4:** Derive a `workflowName` — a short, human-readable, title-cased name (3–6 words) that describes what the workflow does. Derive it from the `formTitle` parameter of the trigger node if present, otherwise synthesize it from the workflow's trigger type and primary action nodes. The name must be descriptive and professional (e.g., \"AI Support Ticket Classifier\", \"Weekly Report Email Sender\"). Do not use generic names like \"My Workflow\" or \"n8n Workflow\".\n\n**Step 5:** Using only data derived from Steps 2–4, populate every section of the README template defined in Section 5. For any section where the workflow JSON provides insufficient data, insert the placeholder text defined in Section 7.\n\n**Step 6:** Assemble the final output as a single raw JSON object with exactly two fields:\n- `workflowName`: the string derived in Step 4.\n- `readme`: the complete README markdown string derived in Step 5.\n\n**Step 7:** Verify your output is valid JSON with no wrapper, no preamble, and no trailing explanation — raw JSON object only.\n\n**Step 8:** If any step fails, execute the fallback defined in Section 7.\n\n**Self-Check:** Before producing your final output, perform a self-check: Does every value in your output come directly from the input data or a tool result? If any value was inferred or assumed without a traceable source, mark it explicitly with `<!-- inferred -->` inline inside the `readme` value so a human reviewer can verify it. Do not guess silently.\n\n---\n\n# Section 4 — Rules & Instructions\n\n- Do not add conversational filler, preambles, or explanations to your output.\n- Do not echo the input data raw in your output.\n- Do not fabricate node names, credentials, or behaviors not present in the workflow JSON.\n- Execute deterministically: given the same workflow JSON, always produce the same output.\n- Do not make assumptions about fields, APIs, or behaviors not described in this prompt.\n- Never modify the README template structure to add or remove sections, even if they seem unnecessary for a simple workflow.\n- For sections where the workflow JSON cannot provide sufficient detail, insert the placeholder `_[Insufficient data — review manually]_` and continue. Do not skip the section header.\n- The output must be a single raw JSON object with fields `workflowName` and `readme`. No code fences. No leading or trailing text outside the JSON object.\n- Omit the \"Setup & Installation\" section entirely from the README content.\n\n---\n\n# Section 5 — Output README Template\n\nThe `readme` field must contain the README in this exact structure and order:\n\n```\n# [emoji] [Workflow Name]\nOne paragraph — what it does, what problem it solves, what the result is.\n\n---\n\n## Table of Contents\n- Overview\n- How It Works\n- Node Architecture\n- Tech Stack\n- Prerequisites\n- Configuration\n- Output\n- Edge Cases & Fallbacks\n\n---\n\n## Overview\nWhat triggers it, what it does, what value it delivers.\n\n---\n\n## How It Works\n[ASCII flow diagram]\nStep 1 → Step 2 → Step 3 ...\n\nNumbered prose explanation of each step.\n\n---\n\n## Node Architecture\n| Node Name | Type | Role |\n|---|---|---|\n| ... | ... | ... |\n\n---\n\n## Tech Stack\n| Component | Technology |\n|---|---|\n| ... | ... |\n\n---\n\n## Prerequisites\n- n8n instance v1.0+\n- [Any credential inferred from node `credentials` keys]\n- ...\n\n---\n\n## Configuration\nAny settings, models, or parameters a user must customize before running.\n\n---\n\n## Output\nWhat the workflow produces when it runs successfully.\n\n---\n\n## Edge Cases & Fallbacks\n| Scenario | Behavior |\n|---|---|\n| ... | ... |\n```\n\nRules for populating the template:\n- The emoji in the title must be chosen to reflect the workflow's primary function.\n- The workflow name used in the README title must match the `workflowName` field in the output JSON exactly.\n- The ASCII flow diagram must reflect the actual `connections` object — not invented order.\n- The Node Architecture table must contain one row per node in the `nodes` array.\n- The Tech Stack table must list each unique node type as a technology component.\n- The Prerequisites list must include `n8n instance v1.0+` always, plus one bullet per unique credential key found across all nodes.\n- The Edge Cases & Fallbacks table must include at minimum: missing required form fields, malformed workflow JSON input, and any error paths inferable from the workflow structure.\n\n---\n\n# Section 6 — Limitations & Constraints\n\n- **Knowledge boundary:** Your knowledge is limited to what is described in this prompt and what the input workflow JSON contains. Do not use external knowledge to fill documentation gaps — use the defined placeholder instead.\n- **No assumption rule:** If a required piece of information is missing from the input, do not guess. Use the fallback behavior defined in Section 7.\n- **Template fidelity:** The README template in Section 5 is fixed. Do not add, remove, or reorder sections.\n- **Tool boundary:** You have no tools available. Produce the output from the input data alone.\n- **Credential inference rule:** You may infer a prerequisite from a credential key name (e.g., `openAiApi` → \"OpenAI API key\") only when the mapping is unambiguous. If the credential key name is unclear, insert the raw key name as-is with a note: `[credential: openAiApi — confirm requirement]`.\n- **No hallucinated steps:** Do not add workflow steps to the \"How It Works\" section that do not correspond to a node present in the `nodes` array.\n\n---\n\n# Section 7 — Conditions & Edge Cases\n\n- **IF** `nodes` is null, missing, or an empty array:\n  → Output exactly: `{\"workflowName\": \"[Error]\", \"readme\": \"_[Error: workflow JSON contains no nodes. README cannot be generated.]_\"}`\n\n- **IF** `connections` is null or missing:\n  → Populate the ASCII flow diagram with: `[Connection data unavailable — diagram cannot be generated]` and continue generating all other sections from the `nodes` array alone.\n\n- **IF** a node has no `type` field:\n  → In the Node Architecture table, enter `[type unknown]` for that node's Type and Role columns.\n\n- **IF** no `credentials` keys are found across any node:\n  → The Prerequisites section contains only: `- n8n instance v1.0+`\n\n- **IF** a section cannot be populated with any data from the workflow JSON:\n  → Insert `_[Insufficient data — review manually]_` under that section's header. Do not remove the header.\n\n- **IF** the input does not match the schema defined in Section 2:\n  → Output exactly: `{\"workflowName\": \"[Error]\", \"readme\": \"_[Error: unexpected input format. Expected $json.data with nodes and connections fields.]_\"}`\n\n- **IF** a `workflowName` cannot be derived from any available data:\n  → Set `workflowName` to `_[Insufficient data — review manually]_`\n\n---\n\n# Section 8 — Token Optimization Protocol\n\n- Do not echo the raw input JSON anywhere in your output.\n- Output raw JSON only. Do not wrap the output in a code fence.\n- Omit all reasoning, chain-of-thought, and internal commentary from the output. The only exception is inline `<!-- inferred -->` markers inside the `readme` value as defined in the self-check rule.\n- Keep prose sections (Overview, How It Works narrative) concise — two to four sentences per paragraph maximum.\n- Do not repeat information already stated in one section inside another section.\n- Do not add explanatory comments inside markdown tables."}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_object"}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.3,"position":[368,1536],"id":"0946bc88-1613-46ef-8c36-51741409d43a","name":"Message a model","credentials":{"openAiApi":{"id":"nd3jsxwTHwLjr2UH","name":"n8n free OpenAI API credits"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8a755e1c-c941-4535-9bb6-d990b6f03c4c","leftValue":"={{ $json.success }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[144,1456],"id":"43c90ece-d3f9-421f-9a68-0b8fbcb0c5af","name":"If"},{"parameters":{"sendTo":"={{ $('Code in JavaScript').item.json[\"Your Email\"] }}","subject":"⚠️ Workflow Submission Failed — Please Review Your JSON","message":"<!DOCTYPE html> <html lang=\"en\"> <body style=\"margin:0;padding:0;background:#f5f5f5;font-family:Arial,sans-serif;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f5;padding:32px 0;\">   <tr><td align=\"center\">     <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #e5e5e5;\">       <tr>         <td style=\"background:#A32D2D;padding:32px 32px 24px;\">           <p style=\"margin:0 0 6px;font-size:12px;font-weight:600;color:#F7C1C1;letter-spacing:0.06em;text-transform:uppercase;\">⚠ Workflow Error</p>           <h1 style=\"margin:0;font-size:22px;font-weight:600;color:#FCEBEB;\">Workflow run failed</h1>         </td>       </tr>       <tr>         <td style=\"padding:28px 32px;\">           <p style=\"margin:0 0 20px;font-size:15px;color:#1a1a1a;line-height:1.7;\">             Your n8n workflow was unable to complete successfully. The submitted input could not be processed.           </p>           <div style=\"background:#fef2f2;border-left:3px solid #E24B4A;border-radius:0 8px 8px 0;padding:14px 16px;margin-bottom:24px;\">             <p style=\"margin:0 0 4px;font-size:12px;font-weight:600;color:#888;\">LIKELY CAUSE</p>             <p style=\"margin:0;font-size:14px;color:#1a1a1a;\">Invalid or malformed workflow JSON was submitted through the form.</p>           </div>           <p style=\"margin:0 0 16px;font-size:14px;color:#666;line-height:1.7;\">Please review the following before trying again:</p>           <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">             <tr><td style=\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\">✅&nbsp; The JSON was exported directly from n8n and is unmodified</td></tr>             <tr><td style=\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\">✅&nbsp; The pasted content is valid JSON (no trailing commas or missing brackets)</td></tr>             <tr><td style=\"padding:10px 0;font-size:14px;color:#1a1a1a;\">✅&nbsp; The form field was not left empty or partially filled</td></tr>           </table>           <div style=\"border-top:1px solid #f0f0f0;padding-top:20px;\">             <p style=\"margin:0;font-size:12px;color:#999;line-height:1.6;\">               This is an automated message from your n8n workflow. If the problem persists after retrying with valid JSON, please check your workflow configuration or contact your administrator.             </p>           </div>         </td>       </tr>     </table>   </td></tr> </table> </body> </html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1168,1408],"id":"37410335-b5ef-47ae-9994-b920c139a4a6","name":"Failure","webhookId":"9c9dad87-a9c3-4421-8881-f8ecde0f596f","credentials":{"gmailOAuth2":{"id":"CrZDjM4iPVOsPaec","name":"Gmail OAuth2 API"}}},{"parameters":{"sendTo":"={{ $('Code in JavaScript').item.json[\"Your Email\"] }}","subject":"✅ Workflow Published Successfully to Repository","message":"<!DOCTYPE html> <html lang=\"en\"> <body style=\"margin:0;padding:0;background:#f5f5f5;font-family:Arial,sans-serif;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f5;padding:32px 0;\">   <tr><td align=\"center\">     <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #e5e5e5;\">       <tr>         <td style=\"background:#27500A;padding:32px 32px 24px;\">           <p style=\"margin:0 0 6px;font-size:12px;font-weight:600;color:#C0DD97;letter-spacing:0.06em;text-transform:uppercase;\">✓ Workflow Published</p>           <h1 style=\"margin:0;font-size:22px;font-weight:600;color:#EAF3DE;\">Your workflow was added to the repository</h1>         </td>       </tr>       <tr>         <td style=\"padding:28px 32px;\">           <p style=\"margin:0 0 20px;font-size:15px;color:#1a1a1a;line-height:1.7;\">             Your n8n workflow was successfully processed and published to the GitHub repository. A README file has been automatically generated and committed alongside your workflow JSON.           </p>           <div style=\"background:#f2faf0;border-left:3px solid #639922;border-radius:0 8px 8px 0;padding:14px 16px;margin-bottom:24px;\">             <p style=\"margin:0 0 4px;font-size:12px;font-weight:600;color:#888;\">WHAT HAPPENED</p>             <p style=\"margin:0;font-size:14px;color:#1a1a1a;\">The workflow JSON was parsed, a README.md was generated by AI, and both files were committed to the repository.</p>           </div>           <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">             <tr><td style=\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\">✅&nbsp; Workflow JSON committed to repository</td></tr>             <tr><td style=\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\">✅&nbsp; README.md generated and committed</td></tr>             <tr><td style=\"padding:10px 0;font-size:14px;color:#1a1a1a;\">✅&nbsp; Repository updated successfully</td></tr>           </table>           <div style=\"border-top:1px solid #f0f0f0;padding-top:20px;\">             <p style=\"margin:0;font-size:12px;color:#999;line-height:1.6;\">               This is an automated message from your n8n workflow. You can now find your workflow and its documentation in the GitHub repository.             </p>           </div>         </td>       </tr>     </table>   </td></tr> </table> </body> </html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1168,1648],"id":"f4508b0e-5e46-4215-95d9-d2b2af20af3b","name":"Success","webhookId":"9c9dad87-a9c3-4421-8881-f8ecde0f596f","credentials":{"gmailOAuth2":{"id":"CrZDjM4iPVOsPaec","name":"Gmail OAuth2 API"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"ZaidAR75","mode":"name"},"repository":{"__rl":true,"value":"n8n-automation-workflows","mode":"list","cachedResultName":"n8n-automation-workflows","cachedResultUrl":"https://github.com/ZaidAR75/n8n-automation-workflows"},"filePath":"= {{ $('Message a model').item.json.output[0].content[0].text.workflowName }}/README.md","fileContent":"={{ $json.output[0].content[0].text.readme }}","commitMessage":"=add  {{ $('Message a model').item.json.output[0].content[0].text.workflowName }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[944,1600],"id":"e004904f-261e-4229-9a19-89ccd68d71ac","name":"GitHub-readme","webhookId":"bf5ac3db-11b4-4907-a57c-5e3b372fbb3b","credentials":{"githubOAuth2Api":{"id":"WonTmkZSqBmGTAsT","name":"GitHub OAuth2 API"}},"onError":"continueErrorOutput"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"ZaidAR75","mode":"name"},"repository":{"__rl":true,"value":"n8n-automation-workflows","mode":"list","cachedResultName":"n8n-automation-workflows","cachedResultUrl":"https://github.com/ZaidAR75/n8n-automation-workflows"},"filePath":"= {{ $('Message a model').item.json.output[0].content[0].text.workflowName }}/workflow.json","fileContent":"={{ $('Code in JavaScript').item.json.workflow.toJsonString() }}","commitMessage":"=add  {{ $('Message a model').item.json.output[0].content[0].text.workflowName }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[720,1536],"id":"832cd496-f4d9-4eae-8c4b-6eb24d36d532","name":"GitHub - Workflow JSON","webhookId":"bf5ac3db-11b4-4907-a57c-5e3b372fbb3b","credentials":{"githubOAuth2Api":{"id":"WonTmkZSqBmGTAsT","name":"GitHub OAuth2 API"}},"onError":"continueErrorOutput"}],"connections":{"this":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"GitHub - Workflow JSON","type":"main","index":0}]]},"If":{"main":[[{"node":"Failure","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]},"GitHub-readme":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Failure","type":"main","index":0}]]},"GitHub - Workflow JSON":{"main":[[{"node":"GitHub-readme","type":"main","index":0}],[{"node":"Failure","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true,"instanceId":"c12f628b22583c70e4dca469116ed48cb0e578a4bf671b6f87f63bd78fbf23f2"}}